@at-root {
	@-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body{
	display: block;
	background: $color-white;
	overflow-x: hidden;
	box-sizing: border-box;
	transition: transform .3s ease-in-out, margin .2s ease-in-out;
	&.open, &.is-openned{
		overflow: hidden;
	}
}

blockquote {
	border-left: 0.5rem solid $color-primary;
	padding: 2rem 2rem 2rem 3em;
	margin: 0 0 $global-margin 0;
	font-style: italic;
}

blockquote p:last-child{
	margin: 0;
}

img{
	max-width: 100%;
	opacity: 1;
	transition: opacity 1s ease-in-out;
	&[data-src], &.cell-img{
		opacity: 0;
	}
}

button{
	outline: none;
}

address {
	font-style: normal;
}

hr {
	border: 0.051rem solid $color-gray-400;
	margin: $global-margin-lg 0;
}