%input{
	display: block;
	width: 100%;
	color: $color-black;
	background-color: $color-white;
	font-size: $global-font-size;
	font-weight: lighter;
	padding: $global-padding-sm $global-padding;
	margin-bottom: $global-margin-sm;
	border-radius: $global-radius-lg;
	line-height: 2.5;
	border: 0.1rem solid $color-gray-400;
	transition: all .15s ease-in-out;
	appearance: none;
	&:focus{
		outline: none;
		background-color: $color-gray-200;
	}
}
form{
	font-size: $global-font-size;

	input[type="submit"]{
		display: block;
		width: 100%;
	}
}
label, .label{
	display: block;
	font-size: $global-font-size;
	margin: $global-margin 0 0 0;

	& + .fei-input-group {
		margin-top: 0;
	}
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,
select{
	@extend %input;
}
textarea{
	resize: none;
}
input[type="file"]{
	display: none;
}