.bg {
	background-color: $color-gray-200;
}
.bg-primary {
	background-color: $color-primary !important;
}
.bg-primary-light {
	background-color: $color-primary-light !important;
}
.bg-secondary {
	background-color: $color-secondary !important;
}
.bg-secondary-light {
	background-color: $color-secondary-light !important;
}
.bg-vest {
	background-color: $color-vest !important;
}
.bg-projects {
	background-color: $color-project !important;
}
.bg-news {
	background-color: $color-news !important;
}
.bg-news {
	background-color: $color-news !important;
}

.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-lighter {
	font-weight: lighter;
}
.text-ucase {
	text-transform: uppercase !important;
}
.text-lcase {
	text-transform: lowercase !important;
}

.text-color-primary {
	color: $color-primary !important;
}
.text-color-primary-light {
	color: $color-primary-light !important;
}
.text-color-secondary {
	color: $color-secondary !important;
}
.text-color-secondary-light {
	color: $color-secondary-light !important;
}
.text-color-vest {
	color: $color-vest !important;
}
.text-color-project {
	color: $color-project !important;
}
.text-color-news {
	color: $color-news !important;
}
.text-color-white {
	color: $color-white !important;
}
.text-color-warn {
	color: $color-warn !important;
}

.l-equal-height {
	[class^="col-"] {
		padding-top: $global-padding;
		padding-bottom: $global-padding;
	}
}

.h-100 {
	height: 100% !important;
}