::selection{
	color: #fff;
	background: $color-primary;
}
html{
	font-size: 62.5%;
	@media screen and (min-width: $md-size){
		font-size: 62.5%;
	}
}
body{
	font-family: $font-stack-sans;
	font-size: $global-font-size;
}

// section, 
// article,
// header{
// 	line-height: 2;
// }

%title{
	color: $color-primary;
	position: relative;
	margin: 0.5rem 0 $title-margin 0;
	line-height: $global-line-height;
	font-weight: 600;

	small {
		font-size: 0.5em;
	}
}
.h1, h1{
	@extend %title;
	font-size: $h1-font-size;
}
.h2, h2{
	@extend %title;
	font-size: $h2-font-size;
}
.h3, h3{
	@extend %title;
	font-size: $h3-font-size;
}
.h4, h4{
	@extend %title;
	font-size: $h4-font-size;
}
.h5, h5{
	@extend %title;
	font-size: $h5-font-size;
}
.h6, h6{
	@extend %title;
	font-size: $h6-font-size;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

p, li{
	margin: 0 0 $global-margin-sm 0;
	line-height: 2;
}

a{
	color: inherit;
	text-decoration: underline;
	text-decoration-color: $color-primary;
	font-weight: normal;
	transition: all .3s ease;
	@media screen and (min-width: $lg-size){
		&:hover, &:focus{
			color: inherit;
			opacity: .7;
		}
	}

	.fei-projects & {
		text-decoration-color: $color-project; 
	}

	.fei-vest & {
		text-decoration-color: $color-vest; 
	}

	.fei-news & {
		text-decoration-color: $color-news;
	}
}

code{
	display: block;
	background-color: $color-gray-800;
	color: $color-gray-200;
	font-size: $global-font-size-sm;
	font-weight: lighter;
	line-height: 2;
	padding: $global-padding;
	border-radius: $global-radius-lg;
}

small {
	font-size: 70%;
	color: inherit;
	font-weight: lighter;
	opacity: 0.8;
}