@import 'abstract/variables';
@import 'abstract/functions';

@import "vendors/functions";
@import "vendors/variables";

//BOOTSTRAP GRID

@import "vendors/mixins";
@import "vendors/reboot";

//-----------------

@import 'base/tipography';
@import 'base/base';
@import 'base/form';
@import 'base/generic';

//BOOTSTRAP GRID

@import "vendors/grid";
@import "vendors/utilities/display";
@import "vendors/utilities/flex";

//----------------

@import 'layout/base';
@import 'layout/section';
@import 'layout/tipography';
@import 'layout/navigation';
@import 'layout/affix';

@import 'components/menu';
@import 'components/share';
@import 'components/buttons';
@import 'components/tags';
@import 'components/breadcrumbs';
@import 'components/carousel';
@import 'components/img';
@import 'components/cards';
@import 'components/tabs';
@import 'components/form';
@import 'components/modal';
@import 'components/list';
@import 'components/animations';

//BOOTSTRAP GRID

@import 'vendors/tables';

//-------------

@import 'pages/generics';
@import 'pages/footer';
@import 'pages/cursos';
@import 'pages/noticias';
@import 'pages/vestibular';


.fei-painel-list{
    li{
        border-left: 0.5rem solid $color-primary;
        min-height: 12rem;
        padding-left: $global-padding;
    }
}

.fei-section .fei-slideshow{
    margin: 3rem 0 5rem 0;
}



/*
  - SHARELINKS
  */

/*
  ALERTS
  */
  .fei-alert {
    position: relative;
    display: none;
    width: 100%;
    padding: 1.2rem 0;
    margin: 1.6rem 0;
    color: #fff;
    background: rgba(0,0,0,.7);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .fei-alert .container > * {
    margin: 0 1rem 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  .fei-alert.is-active {
   display: block;
   animation: fade 0.2s ease;
 }

 .fei-alert.alert-success {
   background: $color-secondary;
 }

 .fei-alert.alert-danger {
   background: #f42d2d;
 }

 .fei-warning {
  background: transparent;
  padding: 1em 1.2em;
  border: 1px solid;
  border-radius: 6px;
}

.fei-warning.alert-success{
  background: lighten($color-secondary, 40%);
  color: $color-secondary;
}

.fei-warning.alert-info {
  background: lighten($color-primary, 40%);
  color: $color-primary;
}

.fei-warning.alert-danger {
  background: darken($color-primary, 40%);
  color: $color-warn;
}

/* - HERNANDES */
.menor{
 font-size:10px;
}
.marcadores{
 font-size:1.25em;
}
.conteudopos{
 background-color:#f8f8f8;
 padding:10px;
 text-align:center;
 font-size:1.25em;
 margin-bottom:2px;
 border:solid;
 border-width:1px;
 border-color:#FFF;
}
.informacoespos{
 background-color:#F8F8F8;
 padding-left:20px;
 padding-top:10px;
 border-top-color:#98CE00;
 border-top-style:solid;
 border-top-width:2px;
 padding-bottom:20px;
}
.publico-alvo{
 background-color:#fff;
 padding: 1em 1.5em;
 min-height: 215px;
 margin: -1em 0 1em 0;
 border-radius: 6px;
 -webkit-box-shadow: 0 1em 3em rgba(0,0,0,.1);
 box-shadow: 0 1em 3em rgba(0,0,0,.1);
}
.pre-requisitos{
 background-color:#f8f8f8;
 padding:30px;
}
.espacolinha{
 margin-top:30px;
 margin-bottom:30px;
}
.checar{
 font-size:12px;
 margin-top:10px;
 color:#98CE00;
 padding-right:5px;
}
.nome_reitores{
 text-align:center;
}
.tamanho_img{
 width:80%;
}

.tinscrevase{
 color:#666;
}
.fechar{
 color:#333;
}
.cinza{
 color:#919292;
}
.centralizarvh{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}