/* FEI SUBJECTS SECTION - SERSSÃO COM AS INFORMAÇÕES DAS DISCIPLINAS DOS CURSOS */

.fei-subjects-body{
   margin: 0 auto 3rem auto;
}
.fei-subjects-container{
   display: none;
   overflow: hidden;

   &.is-active{
      display: block;
      animation: fade .5s;
   }
}

.fei-subject-container{
   list-style-type: none;
   margin: 0.2rem 0;
   @media screen and (min-width: $lg-size){
      display: inline-block;
      width: calc(33.333% - 4px);
      vertical-align: middle;
   }

   @media screen and (min-width: $xl-size){
      width: calc(25% - 4px);
   }
}

.fei-subject{
   width: 100%;
   font-size: 1.6rem;
   padding: 1.6rem 2.4rem;
   background-color: $color-gray-200;
   transition: all .3s ease-in-out;

   @media screen and (min-width: $lg-size){
      position: relative;
      height: 18rem;

      ul{
         position: absolute;
         bottom: 1.6rem;
         left: 2.4rem;
      }
   }

   p, li{
      margin: 0;     
   }

   &[data-target='modal']:hover, &[data-target='modal'].is-active{
      background-color: $color-gray-200;
      box-shadow: inset  0 -.5rem 0 $color-primary;
   }
}

.fei-subject-title{
   padding: 0;
   margin: 0;
   font-size: 1.8rem;
   line-height: 1.6;
   text-transform: uppercase;
}
.fei-subject-content{
   display: none;
   position: fixed;
   padding: 2rem;
   background: rgba($color-black, .5);
   color: $color-black;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow-y: auto;
   z-index: map-get($z-index, 'modal');

   &.is-active{
      display: block;
      animation: fade .5s;
   }
}

.fei-csubject-body{
   background: $color-white;
   padding: $global-padding-lg;
   margin: 5em auto;

   @media screen and (min-width: $lg-size){
      width: 70%;

      li{
         display: inline-block;
         margin: $global-margin;
         vertical-align: top;
      }
      li:first-child{
         margin-left: 0;
      }
   }

   .fei-section-title{
      margin: $global-margin-sm 0;
   }
}
.fei-subject-classes{
   clear: both;
   text-align: left;
   padding: $global-padding $global-padding 0 $global-padding;

   @media screen and (min-width: $lg-size){
      font-size: $global-font-size-lg;
   }
}

/* FEI RATING SECTION - SESSÃO COM AS INFORMAÇÕES DE AVALIAÇÕES DOS CURSOS */

.fei-rating{
   img{
      filter: blur(1rem);
   }
   .guia .fa{
      font-size: 3rem;
      color: #ffb000;
      margin: 0 .4rem .5rem .4rem;
      @media screen and (min-width: $lg-size){
         font-size: 4rem;
      }
   }
}

.video-container {
  position: relative;
  padding-bottom: 56.24%;
  padding-top: 1px;
  height: 0;
  overflow: hidden;
  border-radius: $global-radius-lg;
  box-shadow: 0 1em 2.5em rgba(0,0,0,.3);

  iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}

.fei-course-info {
  &:after, &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.fei-info {
   font-size: $global-font-size-sm;
   color: $color-white;
   background: #8cc53f;
   padding: $global-padding $global-padding-lg;
   overflow: hidden;
   text-align: center;

   @media screen and (min-width: $md-size) {
      width: 49%;
      text-align: left;
      float: left;
      position: relative;
      overflow: visible;

      &.course:after {
         content: '';
         display: block;
         width: 0;
         border-top: 20px solid transparent;
         border-bottom: 20px solid transparent;
         border-left: 20px solid #8cc53f;
         position: absolute;
         top: 50%;
         right: -20px;
         margin-top: -18px;
      }
      &.visit {
         float: right;

         &:before {
            content: '';
            display: block;
            width: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid $color-white;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -18px;
         }
      }
   }

   img{
      display: block;
      margin: auto;
      width: 8rem;
      @media screen and (min-width: $md-size) {
         display: inline-block;
         vertical-align: middle;
         margin-right: 1rem;
      }
   }

   &.course {
    @media screen and (min-width: $md-size) {
      .fei-info__container {
        float: right;
        margin-right: 10rem;
      }
    }
  }

   &.visit {
      background: #00aca0;

      @media screen and (min-width: $md-size) {
        .fei-info__container {
          float: left;
          margin-left: 4rem;
        }
      }
   }

   .fei-info__text {
      display: block;
      @media screen and (min-width: $md-size) {
        float: right;
      }
    }

   .fei-info__description {
      margin: 0;
      text-transform: uppercase;
      font-weight: 300;
      font-size: $global-font-size-lg;

      &:last-child {
         font-size: $global-font-size-lg + 0.2;
      }
   }
}
