.fei-footer{
    position: relative;
    padding: 0;
    font-weight: lighter;

    .fei-footer__title{
        color: inherit;
        margin: 0;
    }

    .fei-footer__container{
        color: $color-white;
        padding: 3rem 0;
        @media screen and (min-width: $md-size){
            width: 100%;
            display: block;

            .fei-footer__section{
                overflow: hidden;
                position: relative;
                width: 50%;
                height: 65rem;
                margin: 0 -0.4rem 0 0;
                display: inline-block;
            }
        }
    }

    @media screen and (min-width: $md-size){
        .fei-footer__section{
            display: block;

            .fei-footer__block{
                position: absolute;
                left: 6rem;
            }

            &:first-child{
                .fei-footer__block{
                    left: auto;
                    right: 9rem;
                }
            }
        }
    }

    .fei-footer__section{
        padding: $global-section-padding $global-padding-sm;

        .fei-footer__navigation{
            @extend %fei-navigation;

            li{
              display: block;
              margin-bottom: $global-margin-lg;
            }

            a{
                display: inline-block;
            }

            @media screen and (min-width: $md-size){
                float: left;
                margin-right: $global-margin-lg;
            }
        }

        &.fei-footer__section--last{
            text-align: center;
            .fei-footer__navigation{
                float: none;
                margin: 0;
                margin-bottom: $global-margin;

                @media screen and (min-width: $md-size){
                    li{
                        display: inline-block;
                        position: relative;
                        width: auto;
                        padding: 0 $global-padding;

                        &:after{
                            content: '\\';
                            display: block;
                            color: rgba($color-white, .4);
                            vertical-align: middle;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                        &:last-child:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.fei-back-to-top{
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:before{
        content: 'Voltar ao topo';
        display: inline-block;
        margin-right: $global-margin-sm;
    }

    @media screen and (min-width: $md-size){
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 6%;
        display: block;
        width: 6rem;
        height: 6rem;
        font-size: 2rem;
        line-height: 6rem;
        background: $color-secondary;
        color: $color-white;
        border-radius: 100%;
        box-shadow: $global-box-shadow;
        z-index: map-get($z-index, 'medium');

        &:before{
            content: '';
            display: none;
        }

        &.is-active{
            visibility: visible;
            opacity: 1;
        }

        &:hover, &:focus{
            color: $color-white;
            box-shadow: 0 .5em .8em rgba($color-black, .12);
            opacity: 1;
        }
    }
}