@media screen and (min-width: $md-size){
	.background-image{
		background-image: url('../imagens/background.jpg');
		background-position: top;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

.fei-thumbnail{
  position: relative;

  img {
    width: 100%;
  }

  .fei-thumbnail__icon{
    color: rgba($color-black, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    font-size: 10rem;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;

    &:hover {
      color: rgba($color-black, .5);
      transform: translate(-50%, -50%) scale(1.2);
    }

    @media screen and (min-width: $md-size) {
      font-size: 12rem;
    }

    @media screen and (min-width: $md-size) {
      font-size: 15rem;
    }
  }
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.9%;

  .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cell-img.flickity-lazyloaded, .cell-img.flickity-lazyerror{
  opacity: 1;
}