/* NOTICIAS */
.fei-tags{
    display: table;
    width: 100%;
    background: transparent;
    position: relative;
    font-weight: lighter;
    white-space: nowrap;
    overflow-y: auto;
    margin-top: -1.8rem;
    z-index: map-get($z-index, 'large');

    .fei-news-tag{
        @extend .tag;

        display: table-cell;
        padding: 1rem 1.5rem;
        border-radius: 0;

        &:first-child{
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
        }
        &:last-child{
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
        }
    }
}


.fei-news-newsletter .fei-section-title{
  color: $color-news;
  margin: 0 0 1.6rem 0;
}
.fei-date{
  margin: 1.6rem 0 0 0;
}
.fei-card .fei-date{
  margin: 0 0 1rem 0;
}
.fei-card.fei-card-alt .fei-date{
  margin: 0;
}
.fei-card.fei-card-alt .fei-date .fei-news-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
}
.fei-date .fa{
  margin-right: .25em;
}
.fei-news-default{
  position: relative;
}
.fei-news-default img{
  display: block;
  width: 100%;
  border-radius: 0.6rem;
  transition: all .3s ease-in-out;
  box-shadow: 0 .1em .5em rgba(0,0,0,0.2);
}
.fei-news-default p{
  color: #666;
  font-weight: normal;
}
.fei-news-title{
  display: none;
}
.fei-news-highlight-title{
  color: #fff;
  margin: .3em 0;
  padding: 0em .5em;
  text-transform: uppercase;
  font-weight: lighter;
}

[class^="fei-news-"] .fei-news-tag{
  position: absolute;
  top: 1em;
  right: 0px;
}
.fei-section-news .fei-section-title{
  font-weight: lighter;
  margin: 0 0 .5em 0;
}
.fei-news-eye{
  background: #f9f9f9;
  font-size: 1em;
  font-style: italic;
  padding: 1em 1.5em;
  border-left: .5em solid $color-project;
}
@media screen and (max-width: 767px){
  .fei-section-news .fei-section-title{
   font-size: 1.8em;
   text-transform: none;
   text-align: center;
   margin: 1em 0 1em 0;
 }
 .fei-news-eye{
   text-align: center;
   letter-spacing: 1px;
   padding: .65em;
   border-left: 5px solid $color-project;
 }
}
.fei-news-article{
  margin: 2em 0;
}
.fei-news-article p{
  margin: 1em 0;
}
@media screen and (min-width: 992px){
  .fei-news-article p{
   font-size: 1.25em;
   line-height: 2em;
 }
}

.fei-news{
  margin: .5em 0;
}
.fei-news-aside .fei-card-title{
  text-transform: initial;
}
@media screen and (max-width: 767px){
  aside.destaques {
   margin: 1em 0;
 }
}