.fei-vest{
  .fei-section-title--bordered:after {
    background-color: $color-vest;
    vertical-align: bottom;
  }

  .fa {
    color: $color-vest;
  }
}
.fei-vest-box{
  width:100%;
  background-color: $color-primary;
  color: $color-white;
  text-align:center;
  text-transform:uppercase;
  padding: 1em;
  margin: 0 0 1.6rem 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid $color-vest;

  .fei-vest-date, .fei-vest-box__date{
      font-size: 4rem;
      color: $color-vest;
      font-weight:500;
      letter-spacing: -0.2rem;
  }

  .fei-vest-place, .fei-vest-box__place{
    font-size: 3rem;
    color: $color-white;
    letter-spacing: -0.1rem;
  }
}
