/* CSS GERAL DAS PÁGINAS DO SITE */
/* CLASSES GERAIS PARA AUXILIO NO LAYOUT */
html{
    background:none;
    font-size: 62.5%;
}
@media screen and (min-width: 768px){
    html{
        font-size: 62.5%;
    }
}
body{
   display:block;
   background: #fff;
   font-family: "Open Sans", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   overflow-x: hidden;
   -webkit-transition:margin .2s ease-in-out, -webkit-transform .3s ease-in-out;
   transition:margin .2s ease-in-out, -webkit-transform .3s ease-in-out;
   -o-transition:transform .3s ease-in-out, margin .2s ease-in-out;
   transition:transform .3s ease-in-out, margin .2s ease-in-out;
   transition: transform .3s ease-in-out, margin .2s ease-in-out, -webkit-transform .3s ease-in-out;
}
body.open{
   overflow: hidden;
}

::-moz-selection{
   color: #fff;
   background: #1b5b92;
}
::selection{
   color: #fff;
   background: #1b5b92;
}
.alinha{
   margin: auto;
   position: relative;
}
ul, ol{
   margin: 0;
   padding: 0;
}
ul li{
   list-style-type: none;
   margin: 0 0 1.6rem 0;
}
a{
   color: #555;
   border-bottom: 0.1rem solid #1b5b92;
   font-weight: normal;
   -webkit-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   text-decoration: none;
}
a:hover, a:focus{
   text-decoration: none;
}
@media screen and (min-width: 992px){
   a:hover, a:focus{
       color: inherit;
       opacity: .7;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
       text-decoration: none;
   }
}
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{
   color: #1b5b92;
   position: relative;
   margin: 0 0 1.6rem 0;
   line-height: 1.6;
   font-weight: 600;
}
.h1, h1{
    font-size: 2.8rem;
}
.h2, h2{
    font-size: 2.6rem;
}
.h3, h3{
    font-size: 2.4rem;
}
.h4, h4{
    font-size: 2.2rem;
}
.h5, h5{
    font-size: 2rem;
}
.h6, h6{
    font-size: 1.8rem;
}

.fei-card .h1, .fei-card .h2, 
.fei-card .h3, .fei-card .h4, 
.fei-card .h5, .fei-card .h6, 
.fei-card h1, .fei-card h2, 
.fei-card h3, .fei-card h4, 
.fei-card h5, .fei-card h6{
    font-size: 1.9rem;
    line-height: 1.45em;
    font-weight: 600;
    margin: .5em 0;
}
.fei-side-card .h1, .fei-side-card .h2, 
.fei-side-card .h3, .fei-side-card .h4, 
.fei-side-card .h5, .fei-side-card .h6, 
.fei-side-card h1, .fei-side-card h2, 
.fei-side-card h3, .fei-side-card h4, 
.fei-side-card h5, .fei-side-card h6{
    font-size: 1.65rem;
}

section, 
article,
header{
    font-size: 1.6rem;
    line-height: 2;
}
p{
    margin: 0 0 1.6rem 0
}

blockquote {
    border-left: 0.5rem solid #1b5b92;
    padding: 2rem 2rem 2rem 3em;
    margin: 0 0 1em 0;
    font-style: italic;
}
blockquote p:last-child{
   margin: 0;
}

img{
   max-width:100%;
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   -webkit-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
}
img[data-src], img.cell-img{
   opacity: 0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.cell-img.flickity-lazyloaded, .cell-img.flickity-lazyerror {
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
[class*="pull"]{
   padding: 0 .5em;
}
@media screen and (max-width: 768px){
   .pull-right, .pull-left, .float-right, .float-left{
       float: inherit !important;
   }
   .pull-right, .pull-left{
       margin: 1.5rem 0;
   }
}
@media screen and (min-width: 992px){
   .pull-right{
       margin: 0 0 1.6rem 1.6rem;
   }
   .pull-left{
       margin: 0 1.6rem 1.6rem 0;
   }
}
.center {
   text-align: center !important;
}
}
.left {
   text-align: left !important;
}
.right {
   text-align: right !important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.bold{
   font-weight: bold !important;
}
.lighter{
   font-weight: lighter;
}
.upper{
   text-transform: uppercase !important;
}
.lower{
   text-transform: lowercase !important;
}
.blue{
   background: #1b5b92 !important;
}
.color-blue{
   color: #1b5b92 !important;
}
.lightblue{
   background: #006eab !important;
}
.color-lightblue{
   color: #006eab !important;
}
.green{
   background: #24b956 !important;
}
.color-green{
   color: #24b956 !important;
}
.lightgreen{
   background: #25d366 !important;
}
.yellow{
   background: #f5ca25 !important;
}
.color-yellow{
   color: #f5ca25 !important;
}
.color-lightgreen{
   color: #25d366 !important;
}
.orange{
   background: #ff8c27 !important;
}
.color-orange{
   color: #ff8c27 !important;
}
.purple{
   background: #6536a6 !important;
}
.color-purple{
   color: #6536a6 !important;
}
.red{
   background: #f1546d !important;
}
.color-red{
   color: #f1546d !important;
}
.white{
   background: #fff !important;
}
.color-white{
   color: #fff !important;
}
.block{
   width: 100%;
   display: block !important;
}
.inline-block{
   display: inline-block !important;
}

.gray-background{
   background-color: #efefef;
}
.fei-responsive{
   display: none;
}
@media screen and (max-width: 767px){
    .l-text-responsive, .fei-responsive{
        position: absolute;
        top: 0;
        left: -9999px;
        width: 0;
    }
}
@media screen and (min-width: 992px){
   span.break{
       display: block;
   }
}
/* BOTOES DO SITE */
.button, 
a.button, 
button.button, 
input.button{
   display: inline-block;
   font-size: 1.6rem;
   padding: 1rem;
   color: #fff;
   line-height: 1.6rem;
   font-weight: normal;
   outline: none;
   -webkit-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   text-align: center;
   border-radius: 4px;
   border: 1px solid transparent;
}
.button:disabled, .button.disabled {
    opacity: .3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    pointer-events: none;
}
@media screen and (min-width: 992px){
    .button, a.button,  button.button, input.button{
        padding: 1.4rem 1.6rem;
    }
}
.button.button-transparent,  .button.fei-section-button{ 
   background: transparent !important; 
   border: 0.1rem solid;
}
@media screen and (min-width: 992px){
    .button.button-large{
       font-size: 1.8rem;
       padding: 1.4rem;
    }
    .button.button-small{
       font-size: 1.4rem;
       padding: 1rem 1.4rem;
    }
    .button:hover,  .button:focus{
       opacity: 0.7;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    }
}

.button-default{ background: #222; }
.button-purple{ background: #6536a6; }
.button-green{ background: #24b956; }
.button-blue{ background: #1c5c93; }
.button-lightblue{ background: #006eab;}
.button-lightgreen{ background: #25d366; }
.button-transparent.button-default{color: #222; }
.button-transparent.button-purple{ color: #6536a6; }
.button-transparent.button-green{ color: #24b956; }
.button-transparent.button-lightgreen{ color: #25d366; }
.button-transparent.button-blue{ color: #1c5c93; }
.button-transparent.button-lightblue{ color: #006eab;}

.close-button{
   background-color: transparent;
   outline: none;
   position: absolute;
   top: 1rem;
   right: 1rem;
   opacity: .5;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   font-size: 3rem;
   line-height: 1;
   font-weight: lighter;
   color: #eee;
   border: 0;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.close-button:hover{
   opacity: .8;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.fei-breadcrumb{
    font-size: 1.4rem;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.fei-breadcrumb li{
   display: inline-block;
   color: inherit;
   font-weight: normal;
   margin-bottom: 2rem;
}
.fei-breadcrumb li.is-active{
   font-weight: bold;
}
.fei-breadcrumb li:after{
   content: "";
   display: inline-block;
   width: 0.1rem;
   height: 1.6rem;
   background: rgba(0,0,0,.2);
   margin: 0 1rem;
   -webkit-transform: translateY(.2em) rotate(-20deg);
   -ms-transform: translateY(.2em) rotate(-20deg);
   transform: translateY(.2em) rotate(-20deg);
}
.fei-breadcrumb li:last-child:after{
   display: none;
}
.fei-breadcrumb a{
   color: inherit;
   border-color: inherit;
}
/* CSS PARA O MENU PRINCIPAL DO SITE. */
/*-----CONTAINER DO MENU-----*/
.fei-navigation{
    font-size: 1.4rem;
    line-height: 1;
    font-weight: lighter;
}
.fei-navigation a{
   display: block;
   border: none;
}
.fei-navigation li{
   margin: 0;
}
.fei-navigation .button{
    min-width: 4rem;
    min-height: 4rem;
    margin-right: 0.8rem;
}
@media screen and (max-width: 767px){
    .fei-navigation .button{
        line-height: 2rem;
    }
}
/*-----FIM DO CONTAINER DO MENU-----*/
/*----*/

.fei-internal-nav{
   color: rgba(255,255,255,.5);
   background: #444;
   text-align: center;
   white-space: nowrap;
   overflow-y: auto;
}
@media screen and (min-width: 992px){
   .fei-internal-nav{
       text-align: right;
   }
}
.fei-internal-nav li{
   display: inline-block;
   margin: 0 -0.2rem;
}
.fei-internal-nav ul{
   display: inline-block;
}
.fei-internal-nav li a{
   color: inherit;
   padding: 1rem 1.2rem;
}
.fei-internal-nav a:hover {
   color: #444;
   background: #fff;
}

/*-----BOTAO DE ABERTURA DO MENU RESPOSIVO-----*/
.fei-collapse{
   text-align: center;
}
@media screen and (min-width: 768px ){
   .fei-collapse{
       text-align: right;
   }
}
.fei-collapse-button{
   display: block;
   text-align: inherit;
   width: 100%;
   background: transparent;
   border: 0;
   padding: 1.6rem 0;
   line-height: 1.6;
   color: #fff;
   outline: none;
}
.fei-collapse-button:after{
   content: 'menu';
   display: inline-block;
   margin-right: 1rem;
}
.fei-nav-icon{
   display: inline-block;
   vertical-align: middle;
}
.fei-nav-icon span{
   display: block;
   background: #fff;
   width: 20px;
   height: 2px;
   margin: 5px 2px;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.fei-collapse-button:hover .fei-nav-close span:first-child, .fei-nav-close span:first-child{
   -webkit-transform: translateY(7px) rotate(45deg);
   -ms-transform: translateY(7px) rotate(45deg);
   transform: translateY(0.7rem) rotate(45deg);
}
.fei-nav-icon.fei-nav-close span:nth-child(even){
   opacity: 0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.fei-collapse-button:hover .fei-nav-close span:last-child, .fei-nav-close span:last-child{
   -webkit-transform: translateY(-7px) rotate(-45deg);
   -ms-transform: translateY(-7px) rotate(-45deg);
   transform: translateY(-7px) rotate(-45deg);
}
@media screen and (min-width: 992px){
   .fei-collapse{
       display: none;
   }
}
/*-----FIM DO BOTAO-----*/
/*-----CABECALHO DO MENU-----*/
.fei-header-navigation{
   background-color: #fff;
   position: relative;
   -webkit-box-shadow: 0 0.5rem 0 rgba(0,0,0,.2);
   box-shadow: 0 0.5rem 0 rgba(0,0,0,.2);
}
[class^="fei-hnav-"]{
   display: inline-block;
   vertical-align: middle;
}
@media screen and (max-width: 767px){
   [class^="fei-hnav-"]{
       width: 100%;
       text-align: center;
   }
   .fei-hnav-logo, .fei-hnav-aside{
       margin-bottom: 1rem;
   }
}
[class^="fei-hnav-"] a, [class^="fei-hnav-"] li{
   display: inline-block;
   vertical-align: middle;
}
.fei-hnav-logo img{
   width: auto;
   height: 9rem;
   padding: 1rem 0;
}
.fei-hnav-logo a{
    vertical-align: bottom;
}
.fei-hnav-logo .jesuitas{
   height: 7.5rem;
   margin-left: 1.6rem;
}
@media screen and (min-width: 768px){
   .fei-hnav-logo, .fei-hnav-aside{
       width: 50%;
       margin: 0 0 0 -0.5rem;
   }
   .fei-hnav-aside{
       text-align: right;
   }
}
.fei-hnav-footer-buttons > li > a{
   display: block;
}
.fei-hnav-footer-buttons > li.fei-social > a{
   font-size: 1.4rem;
   border: none;
}
li.fei-social > a:hover{
   color: #fff;
}
li.fei-social > a.facebook:hover{
    background-color: #4267b2;
}
li.fei-social > a.twitter:hover{
    background-color: #1da1f2;
}
li.fei-social > a.youtube:hover{
    background-color: #ff0000;
}
li.fei-social > a.instagram:hover{
    background-color: #d92c7c;
}
li.fei-social > a.linkedin:hover{
    background-color: #0077b5;
}
li.fei-social > a.flickr:hover{
    background-color: #0063db;
}
.fei-flag{
   line-height: 4rem;
}
.fei-flag img{
   width: 2rem;
   height: 2rem;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.fei-flag:hover img{
   opacity: .8;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
@media screen and (min-width: 992px){
   .fei-hnav-logo img{
       vertical-align: bottom;
   }
   .fei-hnav-logo .jesuitas{
       display: inline-block;
       margin-left: 2rem;
   }
   .fei-flag{
       line-height: 3rem;
   }
}
/*-----FIM DO CABECALHO-----*/
/*-----CORPO DO MENU-----*/
.fei-body-navigation{
   background-color: #006eab;
   -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}
.fei-bnav-body{
   display: none;
   background-color: #fff;
   border-bottom: 0.5rem solid #006eab;
}
.fei-bnav-body a{
   text-transform: uppercase;
   padding: 1.6rem 1.4em;
}
.fei-bnav-body li:last-child a{
   border-bottom: none;
}
@media screen and (min-width: 992px){
   .fei-bnav-body{
       display: block !important;
       background-color: transparent;
       border: none;
   }
   .fei-bnav-body > ul > li, .fei-bnav-body > ul > li > a{
       display: inline-block;
   }
   .fei-bnav-body > ul > li > a{
       color: #fff;
       border: none;
   }
   .fei-bnav-body a{
       -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
       transition: all .2s ease-in-out;
       padding: 1.8rem 1rem;
   }
   .fei-bnav-body > ul > li:hover > a{
       color: #fff;
   }
   .fei-bnav-body > ul > li:after{
       content: '';
       display: inline-block;
       background: rgba(255,255,255,.5);
       width: 0.1rem;
       height: 1rem;
       -webkit-transform: rotate(-20deg);
       -ms-transform: rotate(-20deg);
       transform: rotate(-20deg);
   }
   .fei-bnav-body > ul > li:last-child:after{
       display: none;
   }
   .fei-bnav-body li{
       position: relative;
   }
}
/*-----DROPDOWN DO MENU----*/
.fei-navigation-dropdown{
   display: none;
   background: #fcfcfc;
   -webkit-animation: fade .3s;
   animation: fade .3s;
}
.fei-navigation-dropdown a{
   border-bottom-color: transparent;
   margin: 0 1.6rem;
}
@media screen and (max-width: 991px){
   .fei-navigation-dropdown{
    margin: 0 0 0 1.6rem;
    border-left: 0.1rem solid #ccc;
}
.fei-navigation-dropdown .fei-navigation-dropdown{
    display: block;
    margin: 0 0 0 1.6rem;
}
}
.fei-bnav-body > ul > li:hover > a + .fei-navigation-dropdown, .fei-bnav-body > ul > li.hover > a + .fei-navigation-dropdown{
   display: block;
}
.fei-navigation-dropdown > ul > li:hover > a + .fei-navigation-dropdown,  .fei-navigation-dropdown > ul > li.hover > a + .fei-navigation-dropdown{
  display: block;
}
@media screen and (min-width: 992px){
   .fei-navigation-dropdown{
       background: #fff;
       position: absolute;
       top: 100%;
       left: 0;
       min-width: 100%;
       padding: 1rem 0;
       z-index: 10;
       border-radius: 0.4rem;
       -webkit-box-shadow: 0 0.2rem 1.4rem rgba(0,0,0,.4);
       box-shadow: 0 0.2rem 1.4rem rgba(0,0,0,.4);
       -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
       transition: all .2s ease-in-out;
   }
   .fei-navigation-dropdown:before{
       content: '';
       display: block;
       position: absolute;
       top: -1rem;
       left: 2rem;
       width: 0;
       height: 0;
       border-left: 1rem solid transparent;
       border-right: 1rem solid transparent;
       border-bottom: 1rem solid #fff;
   }
   .fei-navigation-dropdown a{
       margin: 0;
       padding: 1.2rem 1.4rem;
       text-align: left;
       white-space: nowrap;
   }
   .fei-navigation-dropdown > ul > li:hover > a{
       opacity: 1;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       color: #1c5c93;
       -webkit-box-shadow: inset 0.5rem 0 0 0 #1c5c93;
       box-shadow: inset 0.5rem 0 0 0 #1c5c93;
   }
   .fei-navigation-dropdown .fei-navigation-dropdown{
       display: none;
       min-width: auto;
       top: -1rem;
       left: 100%;
       border: 0;
   }
   .fei-navigation-dropdown .fei-navigation-dropdown:before{
       display: none;
   }
   .fei-navigation-icon{
       display: inline-block;
       -webkit-transform: translateX(0.5rem);
       -ms-transform: translateX(0.5rem);
       transform: translateX(0.5rem);
   }
}
/*-----FIM DO DROPDOWN-----*/
/*-----ACESSO RÁPIDO-----*/
.fei-quick-links{
   display: none;
   max-width: 100%;
   padding: 4rem 0;
   width: 100%;
   font-size: 2rem;
   line-height: 1.6;
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   background: #444;
   z-index: 91;
   overflow-y: auto;
   box-shadow: -1.6rem 0 4rem rgba(0, 0, 0, 0.5);
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
   transition: transform .15s ease;
}
.fei-quick-links.is-active{
   display: block;
   animation: slideRight .15s ease;
}
.fei-quick-links.is-hiding{
   display: block;
   -webkit-transform: translateX(100%);
   -ms-transform: translateX(100%);
   transform: translateX(100%);
}
.fei-quick-links li{
   padding: 0;
}
.fei-quick-links li a {
   display: block;
   text-align: left;
   color: #fff;
   font-weight: normal;
   padding: 1rem 1.6rem 1rem 2.4rem;
}
@media screen and (min-width: 992px){
   .fei-quick-links li a:hover {
       color: #fff;
       background: #1b5b92;
       opacity: 1;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       -webkit-box-shadow: inset 0.5rem 0 0 0 #fff;
       box-shadow: inset 0.5rem 0 0 0 #fff;
   }
}
.off-canvas{
   display: none;
}
@media screen and (min-width: 768px){
   .off-canvas.is-active{
       display: block;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0,0,0,.5);
       z-index: 90;
   }
}

@media screen and (max-width: 785px){
   .fei-quick-links.is-active{
       visibility: visible;
       -webkit-transform: translateX(0);
       -ms-transform: translateX(0);
       transform: translateX(0);
   }
}

@media screen and (min-width: 768px){
   .fei-quick-links{
       max-width: 30rem;
   }
}
/*-----FIM DO ACESSO RÁPIDO-----*/
/* CSS PARA O ROTATIVO DO SITE, SERVINDO TAMBÉM PARA A PARTE SUPERIOR DE DESTAQUE DAS PÁGINAS DE CURSO E PÁGINAS INTERNAS. O COMPORTAMENTO ROTATIVO É INICIALIZADO ATRAVÉS DO ATRIBUTO 'data-slideshow="default"', COLOCADO NA TAG PAI DO SLIDER. CASO NÃO SEJA INICIALIZADO, O ITEM PODE SER UTILIZADO COMO DESTAQUE DAS PÁGINAS INTERNAS DO SITE. */
.fei-slideshow{
   position: relative;
   z-index: 2;
}
.fei-slideshow-container{
   width: 100%;
   overflow: hidden;
}
.fei-slideshow-item{
    position: relative;
    color: #fff;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
}
.fei-slideshow-default .fei-slideshow-item{
    min-height: 45rem;
}
.fei-slideshow-default .fei-slideshow-item.fei-slideshow-internal{
    min-height: 25rem;
}
.fei-slideshow-img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: initial;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fei-slideshow-caption{
   position: absolute;
   font-size: 1.8rem;
   line-height: 2;
   padding: 0;
   max-width: 68rem;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
@media screen and (min-width: 768px){
   .fei-slideshow-default .fei-slideshow-item{
       min-height: 50rem;
   }
   .fei-slideshow-img > img {
       width: 101%;
       height: auto;
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
   }
}
@media screen and (min-width: 992px){
   .fei-slideshow-caption{
       max-width: 75rem;
   }
}
@media screen and (min-width: 1200px){
   .fei-slideshow-caption .fei-section-title .larger{
        font-size: 7rem;
    }
}

.fei-slideshow-controls{
   display: none;
}
.fei-slideshow-controls .control{
   visibility: hidden;
   opacity: 0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   position: absolute;
   top: 50%;
   left: 2rem;
   z-index: 2;
   outline: none;
   background: transparent;
   color: #fff;
   text-align: center;
   width: 4rem;
   height: 4rem;
   margin-top: -2rem;
   border-radius: 100%;
   border: 2px solid #fff;
   -webkit-transform: translateX(-10rem);
   -ms-transform: translateX(-10rem);
   transform: translateX(-10rem);
   -webkit-transition: all .3s ease-in-out, opacity .1s ease-in-out;
   -o-transition: all .3s ease-in-out, opacity .1s ease-in-out;
   transition: all .3s ease-in-out, opacity .1s ease-in-out;
}
.fei-slideshow-controls .control:hover{
   background: rgba(0,0,0,.5);
}
.fei-slideshow-controls .control.negative{
   background-color: rgba(0,0,0,.6);
}
.fei-slideshow-controls .control.negative:hover{
   background-color: rgba(0,0,0,.3);
}
.fei-slideshow-controls .control.next{
   left: auto;
   right: 20px;
   -webkit-transform: translateX(10rem);
   -ms-transform: translateX(10rem);
   transform: translateX(10rem);
}
.fei-slideshow:hover .fei-slideshow-controls .control{
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   visibility: visible;
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
}
.fei-slideshow-controls .control span{
   line-height: 3.5rem;
}
@media screen and (min-width: 768px){
   .fei-slideshow-controls{
       display: block;
   }
}
@media screen and (min-width: 992px){
   .fei-slideshow-controls .control{
       width: 5rem;
       height: 5rem;
       margin-top: -2.5rem;
   }
   .fei-slideshow-controls .control span{
       line-height: 4.5rem;
   }
}
.fei-slideshow-nav{
   display: block;
   position: absolute;
   bottom: 1rem;
   width: 100%;
   text-align: center;
   z-index: 6;
}
.fei-slidenav-item{
   display: inline-block;
   min-width: 1rem;
   min-height: 1rem;
   margin: 0 .5em;
   background-color: #fff;
   list-style-type: none;
   border-radius: 100%;
   cursor: pointer;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   overflow: hidden;
   -webkit-box-shadow: 0 0 0 0.4rem #fff;
   box-shadow: 0 0 0 0.4rem #fff;
}
.fei-slidenav-item.is-active{
    background: rgb(0, 110, 171);
    -webkit-box-shadow: 0 0 0 0.4rem rgba(0, 110, 171, 0.6);
    box-shadow: 0 0 0 0.4rem rgba(0, 110, 171, 0.6);
}
@media screen and (max-width: 991px){
    .fei-slidenav-item img{
        display: none;
    }
}
@media screen and (min-width: 992px){
   .fei-slideshow-nav .fei-slidenav-img{
       transform: translateY(3.5rem);
   }
   .fei-slidenav-item{
    max-width: 4.5rem;
}
.fei-slidenav-item:hover{
   -webkit-box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.6);
   box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.6);
}
}
.fei-slideshow-details{
   background: #1c5c93;
   color: #fff;
   text-align: center;
   font-weight: normal;
   overflow-y: auto;
}
.fei-slideshow-details a{
   color: #fff;
}
.fei-slidedetail-container{
   display: block;
   margin: auto;
   padding: 1.6rem 0;
   white-space: nowrap;
   overflow: auto;
}
.fei-slidedetail-item{
   display: inline-block;
   padding: 0 2.4rem;
   position: relative;
   vertical-align: top;
}
.fei-slidedetail-item .titulo,  .fei-slidedetail-item li{
    margin: 0 0 1rem 0;
}
.fei-slidedetail-item:after {
   content: '';
   display: block;
   background: rgba(255,255,255,.2);
   width: 0.1rem;
   height: 4rem;
   position: absolute;
   top: 2rem;
   right: -0.2rem;
   -webkit-transform: rotate(-20deg);
   -ms-transform: rotate(-20deg);
   transform: rotate(-20deg);
}
.fei-slidedetail-item:last-child:after{
   display: none;
}
.fei-slidedetail-item .titulo{
   color: #24b956;
   font-size: 1.75rem;
}
.fei-sphotos-container{
    position: relative;
}
.fei-slideshow-photos{
    position: relative;
    margin: 0 0 2rem 0;
}
.fei-slideshow-gallery .flickity-viewport, img.fei-slideshow-photos{
    border-radius: 0.6rem;
    -webkit-box-shadow: 0 0.6rem 1.6rem rgba(0,0,0,.2);
    box-shadow: 0 0.6rem 1.6rem rgba(0,0,0,.2);
}
.fei-slideshow-gallery .flickity-viewport{
    background: #222;
    height: 35rem !important;
}
@media screen and (min-width: 768px){
   .fei-slideshow-gallery .flickity-viewport{
       background: #222;
       height: 40rem !important;
   }
}
@media screen and (min-width: 992px){
   .fei-slideshow-gallery .flickity-viewport{
       background: #222;
       height: 50rem !important;
   }
}
@media screen and (min-width: 1200px){
   .fei-slideshow-gallery .flickity-viewport{
       background: #222;
       height: 60rem !important;
   }
}

.fei-slideshow-gallery .cell{
    height: 100%;
}
.fei-slideshow-gallery img{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px){
   [class*="pull-"] .fei-sphotos-container{
       padding: 0;
   }
   .fei-sphotos-container:after, .fei-sphotos-container:before {
       content: '';
       display: block;
       width: 0.2rem;
       height: 70%;
       background: #25d366;
       position: absolute;
       top: -3%;
       right: 1rem;
       -webkit-box-shadow: 1.6rem 4rem 0 #25d366;
       box-shadow: 1.6rem 4rem 0 #25d366;
   }
   .fei-sphotos-container:before {
       bottom: -3%;
       top: auto;
       right: auto;
       left: 1rem;
       z-index: 3;
       -webkit-box-shadow: -1.6rem -4em 0 #25d366;
       box-shadow: -1.6rem -4em 0 #25d366;
   }
}
.slideshow-legenda {
   position: absolute;
   font-size: 1.6rem;
   bottom: 0;
   left: 0;
   color: #fff;
   padding: 1rem 2rem 2.2rem 2rem;
   margin: 0;
   border-top-right-radius: 0.6rem;
   border-bottom-left-radius: 0.6rem;
   background: #222;
   font-weight: 600;
   text-transform: uppercase;
   z-index: 5;
}
@media screen and (min-width: 768px){
   .slideshow-legenda{
       font-size: 2rem;
   }
}
@media screen and (min-width: 992px){
   .slideshow-legenda{
       font-size: 2.2rem;
   }
}

[data-slideshow="alt"] > *{
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
/* SECTION DEFAULT - CSS PARA AS SECTIONS DO SITE E SEUS DERIVADOS */
.fei-section{
   position: relative;
   padding: 4.5rem 0;
   color: #222;
   font-weight: lighter;
}
.fei-section:after {
   content: "";
   position: absolute;
   bottom: 0;
   display: block;
   background: #eee;
   height: 0.1rem;
   width: 50%;
   margin: 0 25%;
}

.list li ul li{
   list-style: circle;
}
.list, .list ul{
   margin: 0 0 3rem 0;
}
.list li, .list li ul li{
   margin: 1rem 0 1rem 2rem;
}
.list li{
   list-style: disc;
}
.fei-painel-list li{
   border-left: 0.5rem solid #1b5b92;
   min-height: 12rem;
   padding-left: 1.6rem;
}
.fei-section-title{
   position: relative;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 3.7rem;
   line-height: 1.4;
   margin: 0 0 2.5rem 0;
   color: #1b5b92;
   text-align: left;
}
.fei-section-title:first-of-type{
   margin-top: 0;
}
.fei-section-title.negative{
   color: #fff;
}
.title-border:after {
    content: '';
    background: #24b956;
    display: block;
    position: absolute;
    bottom: -1rem;
    width: 5rem;
    height: 0.5rem;
    left: 0.1rem;
}
.fei-section-title:before{
   content: attr(data-background);
   display: none;
   font-weight: lighter;
   position: absolute;
   bottom: -2rem;
   left: 0;
   opacity: .1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
   white-space: nowrap;
}
@media screen and (min-width: 992px){
   .fei-section-title{
       font-size: 5rem;
   }
   .fei-section-title.small{
       font-size: 3.5rem;
   }
   .fei-section-title:before{
       display: block;
       font-size: 8rem;
   }
}
/*----END SECTION DEFAULT----*/

/* FEI NEWSLETTER - CSS PARA A SESSÃO DE CADASTRO DE EMAIL PARA NEWSLETTER */

/*----END FEI NEWSLETTER----*/

.fei-section .fei-slideshow{
   margin: 2.5rem 0;
}
/*----FEI CARDS----*/
.fei-card, a .fei-card{
   color: initial;
   background: #fff;
   padding: 0;
   margin: 0 0 1.6rem 0;
   -webkit-box-shadow: 0 .1em .5em rgba(0,0,0,.2);
   box-shadow: 0 .1em .5em rgba(0,0,0,.2);
   overflow: hidden;
   border-radius: 6px;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.fei-card p:first-child + *{
   margin-top: 0;
}
.fei-card-alt{
   position: relative;
}
.fei-card-alt *, .fei-card-alt *{
   color: #fff;
}
.fei-card-alt:after{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,.1);
   background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.75)), to(transparent));
   background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.75), transparent);
   background-image: -o-linear-gradient(bottom, rgba(0,0,0,.75), transparent);
   background-image: linear-gradient(to top, rgba(0,0,0,.75), transparent);
}
a:hover > .fei-card{
   -webkit-box-shadow: 0 0.8em 2em rgba(0,0,0,.3);
   box-shadow: 0 0.8em 2em rgba(0,0,0,.3);
}
.fei-card .fei-section-title{
   margin-top: 0;
}
.fei-card-alt .fei-card-title{
   position: relative;
}
.fei-card > img{
   width: 100%;
}
.img-blured{
    filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1.6" /></filter></svg>#filter');
    -webkit-filter: blur(.1em);
    filter: blur(.1em);
    filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=1.6);
}
.fei-card-title{
   font-size: 1.6rem;
   line-height: 1.6;
   text-transform: uppercase;
}
.fei-card-title.small{
   font-size: 1.4rem;
}
.fei-card-body{
   padding: 1.6rem;
}
.fei-card-alt .fei-card-body{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 2rem 2.4rem;
   z-index: 3;
}
.fei-card .fei-card-body p:last-child{
   margin-bottom: 0;
}
.fei-card-link a{
   display: block;
   padding: 1em;
   border-top: .0625em solid #f1f1f1;
   text-align: center;
   text-transform: uppercase;
}
.fei-side-card{
   text-align: left;
}
.fei-side-card img{
   float: left;
   margin: 0 1em 0 0;
   width: auto;
   height: 100%;
}
.fei-side-card img.right{
   float: right;
   margin: 0 0 0 1em;
}
.fei-scard-content{
   padding: 1em;
   width: 100%;
}
.fei-scard-content p:first-child{
   font-size: .9em;
   margin: 0;
}
.fei-scard-content > p{
   font-size: 1em;
}
.fei-scard-content > *{
   display: block;
   color: #444;
   margin: 0 0 .25em 0;
   font-weight: normal;
   line-height: 1.6;
}
.fei-scard-title{
   font-size: 1em;
}

@media screen and (max-width: 767px) {
  .fei-card.fei-card-alt{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto; 
  }
  .fei-card.fei-card-alt > img {
    position: absolute;
    left: 50%;
    max-width: initial;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 992px){
   .auto-height .fei-scard-content {
       min-height: auto;
   }
   .fei-scard-content{
       min-height: 130px;
   }
   .fei-scard-title{
       font-size: 1.1em;
   }
}
.fei-scard-alt{
   border-left: 5px solid #006eab;
}
.fei-scard-alt .fei-scard-title{
   color: #006eab;
}
.fei-scard-image.right{
   float: right;
   margin: 0 0 0 .5em;
   width: auto;
   height: 100%;
}
@media screen and (min-width: 768px){
   .fei-scard-alt .fei-scard-content > .fei-scard-title{
       font-size: 1em;
   }
}
/* FEI TABS - NAVEGAÇÃO EM ABAS */
[data-tab="affix"].affix{
   position: relative;
}
.fei-tabs{
   width: 100%;
   margin: 2rem 0;
   color: #1c5c93;
   font-size: 1.6rem;
   overflow-x: auto;
   white-space: nowrap;
   border-radius: 0.6rem;
   font-weight: 600;
}
.fei-tabs li {
   display: inline-block;
   list-style-type: none;
   font-weight: normal;
   margin: 0.1rem -0.2rem;
   border-bottom: 0.1rem solid #f1f1f1;
}
.fei-tabs li.is-active{
   background: #fff;
   color: inherit;
   border-bottom: 0.2rem solid;
   margin-bottom: 0;
}
.fei-tabs.fei-side-tabs li{
   background: #fff;
}
.fei-tabs.fei-side-tabs li a{
   padding: 1.2rem;
}
.fei-tabs.fei-pagination li a{
   padding: 1.2rem 1.6em;
}
.fei-tabs li a{
   display: block;
   color: #444;
   padding: 1.2rem 1.6rem;
   opacity: .6;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
   border: none;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   white-space: normal;
}
.fei-tabs li.is-active a, .fei-tabs li a:hover{
   color: inherit;
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (min-width: 992px){
   .fei-tabs.fei-side-tabs{
       border: 0.1rem solid #eee;
       margin: 0;
       overflow: visible;
   }
   .fei-side-tabs li{
       display: block;
       margin: 0;
       -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
       transition: all .3s ease-in-out;
       border-bottom: 0;
   }
   .fei-side-tabs li:first-child{
       border-top-left-radius: 0.6rem;
       border-top-right-radius: 0.6rem;
   }
   .fei-side-tabs li:last-child{
       border-bottom-left-radius: 0.6rem;
       border-bottom-right-radius: 0.6rem;
   }
   .fei-side-tabs li.is-active{
       border: none;
       background: #006eab;
   }
   .fei-side-tabs li.is-active a{
       color: #fff;
   }
   .fei-scroll-tabs{
       display: block;
   }
}
@media screen and (min-width: 1200px){
   .fei-tabs{
       width: 100%;
       overflow: hidden;
   }
}
.fei-painel-container{
   display: none;
}
/* FEI PROJECTS - CSS PARA A SESSÃO DE PROJETOS DA PÁGINA PRINCIPAL */
.fei-project-item{
   display: none;
}
.fei-project-item.is-active{
   display: block;
   -webkit-animation: fade .5s;
   animation: fade .5s;
}
/*----END FEI PROJECTS----*/
.fei-painel-container.is-active{
   display: block;
   -webkit-animation: fade .5s;
   animation: fade .5s;
}
.fei-scroll-tabs{
   display: none;
}
@media screen and (max-width: 991px){
   [data-tab="affix"]{
       width: 100% !important;
   }
}
@media screen and (min-width: 992px){
   [data-tab="affix"].affix-top{
       position: relative;
   }
   [data-tab="affix"].affix{
       position: fixed;
       top: 0;
       margin-top: 1.6rem;
   }
   [data-tab="affix"].affix-bottom{
       position: relative;
       top: auto;
       bottom: 0;
   }
}
/* FEI SUBJECTS SECTION - SERSSÃO COM AS INFORMAÇÕES DAS DISCIPLINAS DOS CURSOS */
.fei-subjects-body{
   margin: 0 auto 3rem auto;
}
.fei-subjects-container{
   display: none;
   overflow: hidden;
}
.fei-subjects-container.is-active{
   display: block;
   -webkit-animation: fade .5s;
   animation: fade .5s;
}
.fei-subject-container{
   list-style-type: none;
   margin: 0.2rem 0;
}
.fei-subject{
   width: 100%;
   font-size: 1.6rem;
   padding: 1.6rem 2.4rem;
   background-color: #f9f9f9;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.fei-subject p, .fei-subject li{
    margin: 0;
}
.fei-subject[data-target='modal']:hover, .fei-subject[data-target='modal']:is-active{
   background-color: #e9e9e9;
   -webkit-box-shadow: inset  0 -.5rem 0 #1b5b92;
   box-shadow: inset  0 -.5rem 0 #1b5b92;
}
.fei-subject-title{
   padding: 0;
   margin: 0;
   font-size: 1.8rem;
   line-height: 1.6;
   text-transform: uppercase;
}
.fei-subject-content{
   display: none;
   position: fixed;
   padding: 2rem;
   background: rgba(0,0,0,.5);
   color: #444;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
   overflow-y: auto;
}
.fei-subject-content.is-active{
   display: block;
   -webkit-animation: fade .5s;
   animation: fade .5s;
}
.fei-csubject-body{
   background: #f1f1f1;
   padding: 2rem;
   margin: 5em auto;
}
.fei-csubject-body .fei-section-title{
   margin: 1rem 0 1.2rem 0;
}
.fei-subject-classes{
   clear: both;
   text-align: left;
   padding: 1.6rem 1.6rem 0 1.6rem;
}
@media screen and (min-width: 992px){
   .fei-subject-container{
       display: inline-block;
       width: -o-calc(33.333% - 4px);
       width: -ms-calc(33.333% - 4px);
       width: calc(33.333% - 4px);
       vertical-align: middle;
   }
   .fei-subject{
       position: relative;
       height: 18rem;
   }
   .fei-subject > ul{
       position: absolute;
       bottom: 1.6rem;
       left: 2.4rem;
   }
   .fei-csubject-body{
       width: 70%;
   }
   .fei-csubject-body ul li:first-child{
       margin-left: 0;
   }
   .fei-csubject-body ul li{
       display: inline-block;
       margin: 1.6rem;
       vertical-align: top;
   }
   .fei-subject-classes{
       font-size: 1.8rem;
   }
}
@media screen and (min-width: 1200px){
   .fei-subject-container{
       width: -o-calc(25% - 4px);
       width: -ms-calc(25% - 4px);
       width: calc(25% - 4px);
   }
}
/* FEI RATING SECTION - SESSÃO COM AS INFORMAÇÕES DE AVALIAÇÕES DOS CURSOS */
.fei-rating .fei-card-alt .fei-card-body{
   top: 0;
}
.fei-rating img{
   -webkit-filter: blur(1em);
   filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="16" /></filter></svg>#filter');
   filter: blur(1em);
   filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=16);
}
.fei-rating li{
   margin: 0;
}
.guia .fa{
   font-size: 2rem !important;
   color: #ffb000;
   margin: 0 .4rem .5rem .4rem;
}
@media screen and (min-width: 992px){
   .guia .fa{
       font-size: 2.4rem !important;
   }
}
/*------------*/
.fei-info{
   font-size: 1.4rem;
   background: #8cc53f;
   padding: 1.6rem 2.4rem;
   overflow: hidden;
   text-align: center;
}
.fei-info img{
   display: block;
   margin: auto;
   width: 8rem;
}
.fei-info.visit{
   background: #00aca0;
}
.fei-info .fei-info-description{
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 1.8rem;
}
.fei-info .fei-info-description:nth-child(2){
   font-size: 2rem;
   font-weight: normal;
}
.fei-info-text{
   display: block;
   margin-top: .5em;
}
@media screen and (min-width: 768px){
   .fei-course-info{
       overflow: hidden;
   }
   .fei-info{
       width: 49%;
       float: left;
       position: relative;
       overflow: visible;
       text-align: left;
   }
   .fei-info img{
       display: inline-block;
       vertical-align: middle;
       margin-right: .5em;
   }
   .fei-info.course img{
       margin-left: 5.5em;
   }
   .fei-info.visit img{
       margin-left: 2em;
   }
   .fei-info.course:after{
       content: '';
       display: block;
       width: 0;
       border-top: 20px solid transparent;
       border-bottom: 20px solid transparent;
       border-left: 20px solid #8cc53f;
       position: absolute;
       top: 50%;
       right: -20px;
       margin-top: -18px;
   }
   .fei-info.visit{
       float: right;
   }
   .fei-info.visit:after{
       content: '';
       display: block;
       width: 0;
       border-top: 20px solid transparent;
       border-bottom: 20px solid transparent;
       border-left: 20px solid #fff;
       position: absolute;
       top: 50%;
       left: 0;
       margin-top: -18px;
   }
   .fei-info-text{
       display: inline-block;
       vertical-align: middle;
   }
}
/* FEI INPUT GROUP */
label, .label, input, select, textarea{
   font-size: 1.6rem;
   resize: none;
   font-weight: normal;
}
label, .label{
   display: block;
   margin: 1.6rem 0 0 0;
}
.req{
   color: #ff0000;
}
.fei-input-control{
   display: block;
   width: 100%;
   border: none;
   color: #222;
   padding: 1.2rem 1.6rem;
   outline: none;
   margin-bottom: 1em;
   background: #fff;
   -webkit-transition: all .15s ease-in-out;
   -o-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
   border: 1px solid #ddd;
   border-radius: 0.6rem;
}
.fei-input-group .fei-input-control {
   padding: 0 1.6rem;
   font-size: 1.6rem;
   border-right-color: transparent;
   border-radius: 0;
   border-top-left-radius: 0.6rem;
   border-bottom-left-radius: 0.6rem;
}
.fei-input-control:focus{
   background: #eee;
}
.fei-input-group{
   display: table;
   margin-bottom: 1.6rem;
}
.fei-input-group > .fei-input-control,
.fei-input-group > .fei-input-btn {
   display: table-cell;
   vertical-align: middle;
   margin: 0;
   height: 6rem;
}
@media screen and (min-width: 992px){
    .fei-input-group > .fei-input-control,
    .fei-input-group > .fei-input-btn {
       height: 7rem;
   }
   .fei-input-group > .fei-input-control,
   .fei-input-group > .fei-input-btn .button{
    font-size: 1.9rem;
}
}
.fei-input-addon, .fei-input-btn{
   width: 1%;
   white-space: nowrap;
}
.fei-input-btn .button{
   height: inherit;
   line-height: inherit;
   border-radius: 0;
   border-top-right-radius: 0.6rem;
   border-bottom-right-radius: 0.6rem;
}
input[type="submit"]{
   display: block;
   width: 100%;
   line-height: inherit;
}
input[type="file"]{
   display: none;
}
.fei-input-check{
   position: relative;
   margin: 0 1.6rem 2rem 0;
   line-height: 2.5rem;
}
.fei-input-check > input{
   position: absolute;
   opacity: 0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.fei-radio, .fei-checkmark{
   position: relative;
   display: inline-block;
   width: 2.5rem;
   height: 2.5rem;
   background: #eee;
   vertical-align: middle;
   margin-right: 1rem;
   -webkit-transition: all .15s ease-in-out;
   -o-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
}
.fei-radio{
   border-radius: 5rem;
}
.fei-checkmark{
   color: transparent;
   text-align: center;
}
@media screen and (min-width:768px){
   .fei-input-check:hover .fei-radio, .fei-input-check:hover .fei-checkmark{
    background-color: #1b5b9299;
}
}
.fei-input-check > input:checked ~ .fei-radio{
   background-color: #1b5b92;
   -webkit-box-shadow: 0 0 0 0.2em #1b5b9299;
   box-shadow: 0 0 0 0.2em #1b5b9299;
}
.fei-input-check > input:checked ~ .fei-checkmark{
   background-color: #1b5b92;
   color: #fff;
}
/* PÁGINA DE CURSOS */
.fei-thumbnail{
   position: relative;
}
.fei-thumbnail img{
   width: 100%;
}
.fei-thumbnail-icon{
   position: absolute;
   top: 50%;
   left: 50%;
   line-height: 0;
   font-size: 10rem;
   cursor: pointer;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   color: rgba(0,0,0,.6);
   -webkit-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}
.fei-thumbnail-icon:hover{
   color: rgba(0,0,0,.5);
   -webkit-transform: translate(-50%, -50%) scale(1.2);
   -ms-transform: translate(-50%, -50%) scale(1.2);
   transform: translate(-50%, -50%) scale(1.2);
}
@media screen and (min-width: 768px){
   .fei-thumbnail-icon{
       font-size: 12remem;
   }
}
@media screen and (min-width: 992px){
   .fei-thumbnail-icon{
       font-size: 10em;
   }
}
.video-container{
   position: relative;
   padding-bottom: 56.24%;
   padding-top: 1px;
   height: 0;
   overflow: hidden;
   border-radius: 6px;
   -webkit-box-shadow: 0 1em 2.5em rgba(0,0,0,.3);
   box-shadow: 0 1em 2.5em rgba(0,0,0,.3);
}
.video-container iframe, .video-container object, .video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.noticias{
   overflow: hidden;
}
.noticia{
   position: relative;
   margin-bottom: 15px;
}
.noticia .noticia-titulo{
   position: absolute;
   min-height: 70px;
   bottom: 0;
   left: 15px;
   right: 15px;
   padding: 10px 15px;
   margin: 0;
   color: #fff;
   border-left: 5px solid #2e8cc6;
   background: rgba(11,46,75,.7);
}
.noticia img{
   width: 100%;
}
@media screen and (min-width: 992px){
   .noticia{
       margin: 0;
   }
}
/*------------------*/
/* - FEI MODAL ESTILO RELACIONADO AS JANELAS MODAIS */
.fei-modal{
   display: none;
   opacity: 0;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.7)), to(transparent));
   background-image: -webkit-linear-gradient(top, rgba(0,0,0,.7), transparent);
   background-image: -o-linear-gradient(top, rgba(0,0,0,.7), transparent);
   background-image: linear-gradient(to bottom, rgba(0,0,0,.7), transparent);
   color: #fff;
   background-color: rgba(0,0,0,.9);
   overflow-y: auto;
   z-index: 15;
   padding: 4em 0;
   transition: opacity .2s ease-out;
}
.fei-modal.is-active{
   display: block;
   opacity: 1;
   animation: fadeScaleIn .4s ease;
}
.fei-modal.is-hiding{
    display: block;
    opacity: 0;
}
.fei-modal-title{
   text-transform: uppercase;
   color: #fff;
   font-weight: 300;
   font-size: 1.3em;
}
.fei-modal a{
   color: #fff;
   border-color: #24b956;
}
@media screen and (min-width: 768px){
   .fei-modal-title{
       font-size: 2.1em;
   }
}
/*-------MODAL PROFESSOR E CURSOS--------*/

.youtube-container{
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.9%;
}
.youtube-video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

@media screen and (min-width: 768px){
   .background-image{
       background-image: url('../imagens/background.jpg');
       background-position: top;
       background-size: 100%;
       background-repeat: no-repeat;
   }
}
/* CSS PARA O RODAPÉ DO SITE */
.fei-footer{
   font-size: 1.4rem;
   position: relative;
   padding: 0;
   font-weight: lighter;
}
.fei-footer .negative{
   color: #fff;
}
.fei-footer-section{
   padding: 3rem 1rem;
}
.fei-footer-nav li{
   margin: 1.7rem 0;
}
.fei-footer-container a {
    color: #fff;
    border-color: #fff;
}
.fei-back-top > a:before{
   content: 'Voltar ao topo';
   display: inline-block;
   margin-right: 1rem;
}
@media screen and (min-width: 992px){
    .fei-footer-container{
       width: 100%;
       display: block;
   }
   .fei-footer-container .fei-footer-section{
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 65rem;
    margin: 0 -0.4rem 0 0;
    display: inline-block;
}
.fei-footer-section .fei-footer-content{
    position: absolute;
    left: 6rem;
}
.fei-footer-section:first-child .fei-footer-content{
    left: auto;
    right: 9rem;
}
.fei-footer-nav{
   float: left;
   margin-right: 3.6rem;
}
.fei-footer-section.last{
   text-align: center;
}
.fei-footer-section.last .fei-footer-nav{
   float: none;
   margin-bottom: 1.6rem;
   text-align: center;
}
.fei-footer-section.last .fei-footer-nav li{
   display: inline-block;
   padding: 0 1.6rem;
   position: relative;
}
.fei-footer-section.last .fei-footer-nav li:after{
   content: '';
   display: block;
   width: 1px;
   height: 100%;
   background: rgba(0, 110, 171, .3);
   position: absolute;
   top: 0;
   right: 0;
   -webkit-transform: rotate(-20deg);
   -ms-transform: rotate(-20deg);
   transform: rotate(-20deg);
}
.fei-footer-section.last .fei-footer-nav li:last-child:after{
   display: none;
}
.fei-back-top > a{
   visibility: hidden;
   opacity: 0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   position: absolute;
   top: -3rem;
   right: 5rem;
   display: block;
   width: 6rem;
   height: 6rem;
   font-size: 2rem;
   line-height: 6rem;
   background: #24b956;
   color: #fff;
   border: none;
   z-index: 4;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   border-radius: 100%;
   -webkit-box-shadow: 0 .2em .6em rgba(0,0,0,.2);
   box-shadow: 0 .2em .6em rgba(0,0,0,.2);
}
.fei-back-top > a.is-active{
   visibility: visible;
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.fei-back-top > a:hover, .fei-back-top > a:focus{
   -webkit-box-shadow: 0 .5em .8em rgba(0,0,0,.3);
   box-shadow: 0 .5em .8em rgba(0,0,0,.3);
   opacity: 1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.fei-back-top > a:before{
   content: '';
   display: none;
}
}
/* NOTICIAS */
.fei-tags{
  display: block;
  width: 100%;
   background: transparent;
   position: relative;
   font-weight: lighter;
   white-space: nowrap;
   overflow-y: auto;
   text-align: center;
   margin: -1.8rem 0;
   z-index: 3;
}
.fei-news-tag{
   display: inline-block;
   padding: 0.5rem;
   font-size: 1em;
   line-height: 1;
   background: #006eab;
   color: #fff;
   border: none;
   border-radius: 0.4rem;
   z-index: 3;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
a.fei-news-tag:hover{
   color: #fff;
}
.fei-tags .fei-news-tag{
   display: inline-block;
   padding: 1rem 1.5rem;
   margin: 0 -2.2px;
   border-radius: 0;
}
.fei-tags .fei-news-tag:first-child{
   border-top-left-radius: 0.4rem;
   border-bottom-left-radius: 0.4rem;
}
.fei-tags .fei-news-tag:last-child{
   border-top-right-radius: 0.4rem;
   border-bottom-right-radius: 0.4rem;
}
.fei-news-newsletter .fei-section-title{
   color: #6536a6;
   margin: 0 0 1.6rem 0;
}
.fei-date{
   margin: 1.6rem 0 0 0;
}
.fei-card .fei-date{
   margin: 0 0 1rem 0;
}
.fei-card.fei-card-alt .fei-date{
    margin: 0;
}
.fei-card.fei-card-alt .fei-date .fei-news-tag {
   position: absolute;
   bottom: 0;
   right: 0;
   border-radius: 0;
}
.fei-date .fa{
   margin-right: .25em;
}
.fei-news-default{
   position: relative;
}
.fei-news-default img{
   display: block;
   width: 100%;
   border-radius: 0.6rem;
   -webkit-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   -webkit-box-shadow: 0 .1em .5em rgba(0,0,0,0.2);
   box-shadow: 0 .1em .5em rgba(0,0,0,0.2);
}
.fei-news-default p{
   color: #666;
   font-weight: normal;
}
.fei-news-title{
   display: none;
}
.fei-news-highlight-title{
   color: #fff;
   margin: .3em 0;
   padding: 0em .5em;
   text-transform: uppercase;
   font-weight: lighter;
}

[class^="fei-news-"] .fei-news-tag{
   position: absolute;
   top: 1em;
   right: 0px;
}
.fei-section-news .fei-section-title{
   font-weight: lighter;
   margin: 0 0 .5em 0;
}
.fei-news-eye{
   background: #f9f9f9;
   font-size: 1em;
   font-style: italic;
   padding: 1em 1.5em;
   border-left: .5em solid #ff8c27;
}
@media screen and (max-width: 767px){
   .fei-section-news .fei-section-title{
       font-size: 1.8em;
       text-transform: none;
       text-align: center;
       margin: 1em 0 1em 0;
   }
   .fei-news-eye{
       text-align: center;
       letter-spacing: 1px;
       padding: .65em;
       border-left: 5px solid #ff8c27;
   }
}
.fei-news-article{
   margin: 2em 0;
}
.fei-news-article p{
   margin: 1em 0;
}
@media screen and (min-width: 992px){
   .fei-news-article p{
       font-size: 1.25em;
       line-height: 2em;
   }
}

.fei-news{
   margin: .5em 0;
}
.fei-news-aside .fei-card-title{
   text-transform: initial;
}
@media screen and (max-width: 767px){
    aside.destaques {
       margin: 1em 0;
   }
}

.fei-vest-box{
   width:100%;
   background:200px;
   background-color:#0e6fa9;
   color:#fff;
   text-align:center;
   text-transform:uppercase;
   padding: 1em;
   margin: 0 0 1.6rem 0;
   border-left: 0.5rem solid transparent;
   border-right: 0.5rem solid transparent;
   border-top: 0.5rem solid #fabf2d;
}
.fei-vest-date{
   font-size: 4rem;
   color:#fabf2d;
   font-weight:500;
   letter-spacing: -0.2rem;
}
.fei-vest-place{
   font-size: 3rem;
   color:#fff;
   letter-spacing: -0.1rem;
}
.fei-vest h3, .fei-vest h4, .fei-vest h5, .fei-vest h6{
   color:#e17a20;
}

/*
    - SHARELINKS
    */

    .fei-sharelinks{
        z-index: 10;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .fei-sharelinks ul li{
       margin: 0;
   }
   .fei-sharelinks__button > a,
   .fei-sharelinks__body ul li a{
    font-size: 2rem;
    width: 4rem;
    min-height: 4rem;
    line-height: 4rem;
    color: rgba(255,255,255,.8);
    border: none;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.fei-sharelinks__button > a{
    display: block;
    background-color: #ff8c27;
    z-index: 4;
}
.fei-sharelinks__body{
    overflow-x: auto;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.fei-sharelinks__body ul li a{
    display: block;
    background-color: #222;
    color: #eee;
}
.facebook-share{
    background-color: #4267b2 !important;
}
.twitter-share{
    background-color: #1da1f2 !important;
}
.whatsapp-share{
    background-color: #25d366 !important;
}
.gplus-share{
    background-color: #db4437 !important;
}
.linkedin-share{
    background-color: #0077B5 !important;
}
.clipboard{
    background-color: #d82010 !important;
}
@media screen and (max-width: 767px){
    .fei-sharelinks{
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .fei-sharelinks{
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    .fei-sharelinks.is-active{
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .fei-sharelinks__button > a{
        position: absolute;
        top: -5.5rem;
        right: 1rem;
    }
    .fei-sharelinks__body{
        background-color: #fff;
        text-align: center;
    }
    .fei-sharelinks__body ul li a{
        margin: 1rem 0.5rem;
    }
    .fei-sharelinks__body ul{
        white-space: nowrap;
    }
    .fei-sharelinks__body ul li{
        display: inline-block;
    }
}
@media screen and (min-width: 768px){
    .fei-sharelinks{
        position: fixed;
        top: 18.5rem;
        left: 0;
        height: 0;
    }
    .fei-sharelinks .fei-sharelinks__body{
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .fei-sharelinks.is-active .fei-sharelinks__body{
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    /*.fei-sharelinks.is-active .fei-sharelinks__button > a{
        transform: rotate(180deg);
        }*/
        .fei-sharelinks__button > a{
            position: absolute;
            top: -4.5rem;
            left: 0;
        }
        .fei-sharelinks__body ul li a{
            margin: 0;
        }
        .fei-sharelinks__button > a:hover, .fei-sharelinks__body ul li a:hover{
            width: 6rem;
        }
    }

/*
    ALERTS
    */
    .fei-alert {
        position: relative;
        display: none;
        width: 100%;
        padding: 1.2rem 0;
        margin: 1.6rem 0;
        color: #fff;
        background: rgba(0,0,0,.7);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .fei-alert .container > * {
        margin: 0 1rem 0 0;
        display: inline-block;
        vertical-align: middle;
    }

    .fei-alert.is-active {
       display: block;
       animation: fade 0.2s ease;
   }

   .fei-alert.alert-success {
       background: #25bd49;
   }

   .fei-alert.alert-danger {
       background: #f42d2d;
   }

   .fei-warning {
    background: transparent;
    padding: 1em 1.2em;
    border: 1px solid;
    border-radius: 6px;
}

.fei-warning.alert-success{
    background: #25bd4966;
    color: #25bd49;
}

.fei-warning.alert-info {
    background: #006eab66;
    color: #1c5c93;
}

.fei-warning.alert-danger {
    background: #f42d2d66;
    color: #f42d2d;
}

/* - HERNANDES */
.menor{
   font-size:10px;
}
.marcadores{
   font-size:1.25em;
}
.conteudopos{
   background-color:#f8f8f8;
   padding:10px;
   text-align:center;
   font-size:1.25em;
   margin-bottom:2px;
   border:solid;
   border-width:1px;
   border-color:#FFF;
}
.informacoespos{
   background-color:#F8F8F8;
   padding-left:20px;
   padding-top:10px;
   border-top-color:#98CE00;
   border-top-style:solid;
   border-top-width:2px;
   padding-bottom:20px;
}
.publico-alvo{
   background-color:#fff;
   padding: 1em 1.5em;
   min-height: 215px;
   margin: -1em 0 1em 0;
   border-radius: 6px;
   -webkit-box-shadow: 0 1em 3em rgba(0,0,0,.1);
   box-shadow: 0 1em 3em rgba(0,0,0,.1);
}
.pre-requisitos{
   background-color:#f8f8f8;
   padding:30px;
}
.espacolinha{
   margin-top:30px;
   margin-bottom:30px;
}
.checar{
   font-size:12px;
   margin-top:10px;
   color:#98CE00;
   padding-right:5px;
}
.nome_reitores{
   text-align:center;
}
.tamanho_img{
   width:80%;
}

.tinscrevase{
   color:#666;
}
.fechar{
   color:#333;
}
.cinza{
   color:#919292;
}
.centralizarvh{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* ANIMAÇÕES - CSS QUE ENGLOBA TODAS AS ANIMAÇÕES USADAS NO SITE */
@-webkit-keyframes fade {
   0%{
       opacity: 0;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   }
   100%{
       opacity: 1;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       display: block;
   }
}
@keyframes fade {
   0%{
       opacity: 0;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   }
   100%{
       opacity: 1;
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       display: block;
   }
}

@-webkit-keyframes slideRight {
   0%{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
100%{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}
@keyframes slideRight {
   0%{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
100%{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}

@keyframes fadeScaleIn{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}