//COLORS

$color-white: #ffffff;
$color-gray-200: #f9f9f9;
$color-gray-400: #e6e6e6;
$color-gray-600: #444444;
$color-gray-800: #222222;
$color-black: #000000;

$color-primary: #1b5b92;
$color-primary-light: #006eab;
$color-secondary: #24b956;
$color-secondary-light: #25d366;
$color-vest: #f7b31b;
$color-project: #ff8c27;
$color-news: #6536a6;
$color-warn: #dc4e41;

$facebook: #4267b2;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #d92c7c;
$linkedin: #0077b5;
$flickr: #0063db;

//---------------------

//TIPOGRAPHY

$font-stack-sans: "Open Sans", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$global-font-size: 1.6rem;
$global-font-size-sm: $global-font-size - 0.2;
$global-font-size-lg: $global-font-size + 0.2;
$global-line-height: 1.4;
$global-line-height-sm: $global-line-height - 0.2;
$global-line-height-lg: $global-line-height + 0.2;
$d1-font-size: 4.2rem;
$d2-font-size: 4rem;
$d3-font-size: 3.8rem;
$h1-font-size: 3.6rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2rem;
$h6-font-size: 1.8rem;

//---------------------

//MARGIN

$global-margin: 1.6rem;
$global-margin-sm: 1.2rem;
$global-margin-lg: 2rem;
$title-margin: 0.5em;

//--------------------

//BOX-MODEL

$global-padding: 1.6rem;
$global-padding-sm: 1rem;
$global-padding-lg: 2.4rem;

$global-section-padding: 4rem;

$global-radius-sm: 0.4rem;
$global-radius-lg: 0.6rem;

$global-rounded: 500px;

$button-padding: 0.5em 1.2em;
$button-padding-lg: 0.7em 1.5em;
$button-padding-sm: 0.3em 0.8em;

$nav-padding: $global-padding-sm $global-padding;
$nav-padding-sm: $global-padding-sm;
$nav-padding-lg: $global-padding;

//--------------------

//BOX-SHADOW

$global-box-shadow: 0 0.3em 0.5em rgba($color-black, .12);
$global-box-shadow-hover: 0 2rem 4rem -1rem rgba($color-black, 0.3);

//--------------------

//CSS BREAKPOINTS

$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;

//--------------------

//Z-INDEX ORDER

$z-index: (
	'standard': 1,
	'medium': 5,
	'large': 10,
	'menu': 15,
	'dropdown': 20,
	'share': 25,
	'modal-aux': 30,
	'modal': 31,
);

//--------------------