@-webkit-keyframes fade {
  0%{
   opacity: 0;
 }
 100%{
   opacity: 1;
   display: block;
 }
}
@keyframes fade {
  0%{
   opacity: 0;
 }
 100%{
   opacity: 1;
   display: block;
 }
}

@-webkit-keyframes slideRight {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes fadeScaleIn{
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}