.fei-breadcrumb{
    font-size: $global-font-size-sm;
    opacity: 0.5;
    li{
        display: inline-block;
        color: inherit;
        font-weight: normal;
        margin-bottom: $global-margin;

        &.is-active{
            font-weight: bold;
        }
        &:after{
            content: "\\";
            display: inline-block;
            color: $color-gray-600;
            padding: 0 $global-padding-sm;
        }
        &:last-child:after{
            display: none;
        }
    }
}