%button{
    display: inline-block;
    font-size: $global-font-size;
    color: $color-primary;
    background-color: $color-white;
    text-align: center;
    padding: $button-padding;
    margin: 0.5rem 0.5rem 0.5rem 0;
    line-height: $global-line-height;
    font-weight: normal;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
    border-radius: $global-radius-sm;
    text-indent: 0;

    @media screen and (min-width: $lg-size){
        &:hover,  &:focus{
            opacity: 1;
            background: darken($color-white, 10%);
            text-decoration: none;
        }
        &:disabled, &.is-disabled {
            opacity: .7;
            pointer-events: none;
        }
    }

    &:last-child{
        margin-right: 0;
    }
}

.button, 
a.button, 
button.button, 
input.button{
    @extend %button;
}
.button{
    @media screen and (min-width: $lg-size){
        padding: $button-padding;

        &.button--large{
            font-size: $global-font-size-lg;
            padding: $button-padding-lg;
        }
        &.button--small{
            font-size: $global-font-size-sm;
            padding: $button-padding-sm;
        }
    }

    &.button--shadow{
        box-shadow: $global-box-shadow;

        &:hover, &:focus {
            box-shadow: $global-box-shadow-hover;
        }
    }

    &.button--negative{
        color: $color-white;
        background-color: $color-gray-600;

        &:hover,  &:focus{
            background: darken($color-gray-600, 10%);
        }
    }

    &.button--primary{
        color: $color-white;
        background: $color-primary;

        &:hover,  &:focus{
            background: darken($color-primary, 10%);
        }
    }
    &.button--primary-light{
        color: $color-white;
        background: $color-primary-light;

        &:hover,  &:focus{
            background: darken($color-primary-light, 10%);
        }
    }
    &.button--secondary{
        color: $color-white;
        background: $color-secondary; 

        &:hover,  &:focus{
            background: darken($color-secondary, 10%);
        }
    }
    &.button--secondary-light{
        color: $color-white;
        background: $color-secondary-light; 

        &:hover,  &:focus{
            background: darken($color-secondary-light, 10%);
        }
    }
    &.button--news{ 
        color: $color-white;
        background: $color-news; 

        &:hover,  &:focus{
            background: darken($color-news, 10%);
        }
    }
    &.button--project{ 
        color: $color-white;
        background: $color-project; 

        &:hover,  &:focus{
            background: darken($color-project, 10%);
        }
    }
    &.button--vest{ 
        color: $color-white;
        background: $color-vest; 

        &:hover,  &:focus{
            background: darken($color-vest, 10%);
        }
    }

    &.button--facebook {
        color: $color-white;
        background: $facebook;

        &:hover,  &:focus{
            background: darken($facebook, 10%);
        }
    }

    &.button--twitter {
        color: $color-white;
        background: $twitter;

        &:hover,  &:focus{
            background: darken($twitter, 10%);
        }
    }

    &.button--youtube {
        color: $color-white;
        background: $youtube;

        &:hover,  &:focus{
            background: darken($youtube, 10%);
        }
    }

    &.button--instagram {
        color: $color-white;
        background: $instagram;

        &:hover,  &:focus{
            background: darken($instagram, 10%);
        }
    }

    &.button--linkedin {
        color: $color-white;
        background: $linkedin;

        &:hover,  &:focus{
            background: darken($linkedin, 10%);
        }
    }

    &.button--flickr {
        color: $color-white;
        background: $flickr;

        &:hover,  &:focus{
            background: darken($flickr, 10%);
        }
    }


    &.button--transparent,  &.fei-section-button{ 
        background: transparent; 
        color: $color-gray-200;
        border: 0.1rem solid $color-gray-200;

        &:hover, &:focus{
            color: $color-primary;
            background-color: $color-gray-200;
        }

        &.button--negative{
            color: $color-gray-600;
            border-color: $color-gray-600;
            &:hover, &:focus{
                color: $color-white;
                background-color: $color-gray-600;
            }
        }

        &.button--primary{
            color: $color-primary;
            border-color: $color-primary;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-primary;
            }
        }
        &.button--primary-light{ 
            color: $color-primary-light;
            border-color: $color-primary-light;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-primary-light;
            }
        }
        &.button--secondary{ 
            color: $color-secondary;
            border-color: $color-secondary;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-secondary;
            }
        }
        &.button--secondary-light{ 
            color: $color-secondary-light; 
            border-color: $color-secondary-light;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-secondary-light;
            }
        }
        &.button--news{
            color: $color-news;
            border-color: $color-news;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-news;
            }
        }
        &.button--project{
            color: $color-project;
            border-color: $color-project;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-project;
            }
        }
        &.button--vest{ 
            color: $color-vest;
            border-color: $color-vest;

            &:hover, &:focus{
                color: $color-white;
                background-color: $color-vest;
            }
        }
    }


    .button-row & {
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.close-button, .button--close{
    @extend %button;
    background-color: transparent;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    padding: 1rem;
    line-height: $global-font-size;
    top: 0;
    right: 0;
    font-size: $global-font-size * 2;
    border: 0;

    &:hover, &:focus{
        background-color: transparent;
        opacity: .6;
    }
}