.fei-card{
    background: $color-white;
    padding: 0;
    margin: $global-margin 0;
    overflow: hidden;
    border-radius: $global-radius-lg;
    box-shadow: $global-box-shadow;
    transition: all .3s ease-in-out;

    img{
        width: 100%;
    }

    .fei-card__body{
        padding: 2rem;

        p:first-child{
            font-size: $global-font-size-sm;
            color: $color-gray-600;
            margin-bottom: 0;
    
            + .fei-card__title{
                margin-top: 0;
            }
        }
    }

    p, li {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .fei-card__title{
      font-size: $global-font-size-lg;
      color: $color-gray-600;
      line-height: $global-line-height;
      font-weight: 600;
      margin-bottom: $global-margin;

      &:last-child {
          margin-bottom: 0;
      }

      &.fei-card__title--lg {
        font-size: $h5-font-size;
      }

      &.fei-card__title--sm {
          font-size: $global-font-size;
      }
    }
}

.fei-card--alt{
    position: relative;
    color: $color-white;

    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-black ,.1);
        background-image: linear-gradient(to top, rgba($color-black, .75), transparent);
    }

    @media screen and (max-width: $md-size - 1){
        position: relative;
        width: 30rem;
        height: 30rem;
        margin-left: auto;
        margin-right: auto;

        img{
            position: absolute;
            left: 50%;
            max-width: initial;
            width: auto;
            height: 100%;
            transform: translateX(-50%);
        }
    }

    .fei-card__body{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: map-get($z-index, 'medium');

        &.fei-card__body--middle {
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
        }

        p:first-child{
            color: $color-white;
        }
    }

    .fei-card__title{
        color: #fff;
    }
}

.fei-card--side{
    font-size: $global-font-size-sm;

    .fei-card__body{
        padding: 0.8rem 1.3rem 0 0;
        width: 100%;
    }

    .fei-card__title{
        margin-bottom: 0.3em;
    }

    p, li {
        margin-bottom: 0;
    }

    img{
        float: left;
        margin: 0 $global-margin-lg 0 0;
        max-width: 32%;
        height: auto;
        &.right ,&.is-aligned-right{
            float: right;
            margin: 0 0 0 $global-margin-sm;
        }
    }
}

.fei-card-link{
    text-decoration: none;
    opacity: 1;

    .fei-card{
        box-shadow: $global-box-shadow;
    }

    &:hover{
        text-decoration: none;
        opacity: 1;

        .fei-card{
            box-shadow: $global-box-shadow-hover;
        }
    }
}

.img-blured, .img--blured{
    filter: blur(.1em);
}