.fei-slideshow{
  position: relative;
  z-index: map-get($z-index, 'standard');

  .fei-slideshow__item{
    position: relative;
    color: $color-white;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
  }

  .fei-slideshow__img {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: initial;
      height: 101%;
      transform: translate(-50%, -50%);
      @media screen and (min-width: $md-size){
        width: 101%;
        height: auto;
      }
    }
  }
}
.fei-slideshow-container, .fei-slideshow__container {
  width: 100%;
  overflow: hidden;
}
.fei-slideshow-default{

  .fei-slideshow__item{
    &.fei-slideshow__item--internal{
      min-height: 25rem;
    }

    min-height: 45rem;
    @media screen and (min-width: $md-size){
      min-height: 50rem;
    }
  }
}
.fei-slideshow__caption{
  position: absolute;
  font-size: 1.8rem;
  line-height: 2;
  padding: 0;
  max-width: 68rem;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (min-width: $lg-size){
    max-width: 75rem;
  }
  @media screen and (min-width: $xl-size){
    .fei-section-title .larger{
      font-size: 7rem;
    }
  }
}

.fei-slideshow__controls{
  .control{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    color: $color-white;
    text-align: center;
    background-color: rgba($color-black, 0.2);

    &.next{
      left: auto;
      right: 0;
    }

    @media screen and (min-width: $md-size){
      visibility: hidden;
      background: transparent;
      opacity: 0;
      top: 50%;
      left: 2.5rem;
      width: 5rem;
      height: 5rem;
      margin-top: -2.5rem;
      border-radius: 100%;
      border: 2px solid $color-white;
      transform: translateX(-10rem);
      transition: all 0.3s ease-in-out, opacity 0.1s ease-in-out;

      &.next{
        left: auto;
        right: 20px;
        transform: translateX(10rem);
      }

      &:hover, &:focus{
        background-color: rgba($color-black, 0.5);
      }

      &.control--negative{
        background-color: rgba($color-black, 0.6);
        &:hover, &:focus{
          background-color: rgba($color-black, 0.3);
        }
      }
    }

    @media screen and (min-width: $md-size){
      [class*="fei-slideshow"]:hover &{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}

.fei-slideshow-nav{
  @extend %fei-navigation;
  display: block;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  z-index: 6;

  @media screen and (max-width: $lg-size - 1){
    display: none;
  }
  @media screen and (min-width: $lg-size){
    transform: translateY(3.5rem);
  }

  .fei-slideshow-nav__item{
    overflow: hidden;
    min-width: 1rem;
    min-height: 1rem;
    margin: 0 .5em;
    background-color: $color-gray-800;
    border-radius: 100%;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 0 0.4rem $color-white;
    cursor: pointer;
    @media screen and (min-width: $lg-size){
      max-width: 4.5rem;

      &:hover{
        background-color: $color-primary-light;
        box-shadow: 0 0 0 0.4rem rgba($color-primary-light, 0.6);
      }

      &.is-active{
        background-color: $color-primary-light;
        box-shadow: 0 0 0 0.4rem rgba($color-primary-light, 0.6);
      }
    }
  }
}

.fei-slideshow-details{
  background: $color-primary;
  color: $color-white;
  text-align: center;
  font-weight: normal;
  overflow-y: auto;
}

.fei-slideshow-details__container{
  display: block;
  margin: auto;
  padding: $global-padding 0;
  white-space: nowrap;
  overflow: auto;
  .fei-slideshow-details__item{
    display: inline-block;
    padding: 0 $global-padding-lg;
    position: relative;
    vertical-align: top;

    .fei-slideshow-details__title{
      color: $color-secondary;
      font-size: $global-font-size-lg;
      margin: 0 0 $global-margin-sm 0;
    }

    li{
      margin: 0 0 $global-margin-sm 0;
      line-height: 1;
    }
  }

  &:after{
    content: '';
    display: block;
    background: rgba($color-white, .2);
    width: 0.1rem;
    height: 4rem;
    position: absolute;
    top: 2rem;
    right: -0.2rem;
    transform: rotate(-20deg);
  }
  &:last-child:after{
    display: none;
  }
}



.fei-slidephotos{
  position: relative;
  padding: 0;

  &:after, &:before{
    content: '';
    display: block;
    width: 0.2rem;
    height: 70%;
    background: $color-secondary-light;
    position: absolute;
    top: -3%;
    right: 1rem;
    box-shadow: 1.6rem 4rem 0 $color-secondary-light;
    z-index: map-get($z-index, 'medium');
  }
  &:before{
    bottom: -3%;
    top: auto;
    right: auto;
    left: 1rem;
    z-index: 3;
    box-shadow: -1.6rem -4em 0 $color-secondary-light;
    z-index: map-get($z-index, 'medium');
  }
}
.fei-slidephotos__container{
  position: relative;
  margin: 0 0 $global-margin-lg 0;
}

.fei-slidephotos__gallery{
  .flickity-viewport, .fei-slidephotos__container{
    border-radius: $global-radius-lg;
    box-shadow: 0 0.6rem 1.6rem rgba($color-black, .2);
  }
  .flickity-viewport{
    background: $color-gray-800;
    height: 35rem;

    @media screen and (min-width: $md-size){
      height: 40rem;
    }
    @media screen and (min-width: $lg-size){
      height: 50rem;
    }
  }

  .is-cell{
    height: 100%;
  }

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }
}

.fei-slidephotos__caption {
  position: absolute;
  font-size: $global-font-size;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: $color-white;
  padding: 3rem 0;
  margin: 0;
  background: linear-gradient(to top, rgba($color-gray-800, 0.8), transparent);
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-left-radius: $global-radius-lg;
  border-bottom-right-radius: $global-radius-lg;
  z-index: map-get($z-index, 'medium');

  @media screen and (min-width: $md-size){
    font-size: $global-font-size-lg;
  }

  @media screen and (min-width: $lg-size){
    font-size: ($global-font-size-lg + 0.4);
  }
}

