.fei-input-group{
	display: table;
	font-size: $global-font-size;
	background-color: $color-white;
	margin-bottom: $global-margin-sm;
	border-radius: $global-radius-lg;
	line-height: $global-line-height-lg;

	.fei-input__control,
	.fei-input__btn,
	.fei-input__addon{
		display: table-cell;
		border-collapse: collapse;
		margin: 0;
		white-space: nowrap;
		font-size: inherit;
		.button{
			font-size: inherit;
		}

		border: 0.1rem solid $color-gray-400;
	}

	.fei-input__addon,
	.fei-input__btn{
		width: 1%;
		white-space: nowrap;

		&:first-child{
			border-top-left-radius: $global-radius-lg;
			border-bottom-left-radius: $global-radius-lg;
			border-right: none;
		}
		&:last-child{
			border-top-right-radius: $global-radius-lg;
			border-bottom-right-radius: $global-radius-lg;
			border-left: none;
		}
	}

	.fei-input__control{
		@extend %input;
		background-color: transparent;
		border-radius: 0;

		&:first-child{
			border-top-left-radius: $global-radius-lg;
			border-bottom-left-radius: $global-radius-lg;
			border-right-color: transparent;
		}
		&:last-child{
			border-top-right-radius: $global-radius-lg;
			border-bottom-right-radius: $global-radius-lg;
			border-left-color: transparent;
		}

		&:focus{
			& ~ .fei-input__btn{
				background: $color-gray-200;
			}
		}
	}

	.fei-input__btn{
		padding-left: 1rem;
		padding-right: 1rem;
		transition: all 0.15s ease-in-out;
		.button{
			font-size: inherit;
		}
	}

	&.fei-input-group--lg{
		font-size: $global-font-size-lg;
	}
}


.fei-input-check{
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 0 1.6rem 2rem 0;
	line-height: 2.5rem;

	.fei-input__radio, 
	.fei-input__checkmark{
		position: relative;
		display: inline-block;
		width: 2.5rem;
		height: 2.5rem;
		background: #eee;
		vertical-align: middle;
		margin-right: 1rem;
		transition: all .15s ease-in-out;
	}
	.fei-input__radio{
		border-radius: 5rem;
	}
	.fei-input__checkmark{
		color: transparent;
		text-align: center;
	}

	input{
		position: absolute;
		opacity: 0;

		&:checked ~ .fei-input__radio{
			background-color: $color-primary;
			box-shadow: 0 0 0 0.3em rgba($color-primary, 0.3);
		}
		&:checked ~ .fei-input__checkmark{
			background-color: $color-primary;
			color: $color-white;
		}
	}

	&:hover{
		@media screen and (min-width:$md-size){
			.fei-input__checkmark, .fei-input__checkmark{
				background-color: $color-primary;
			}
		}
	}
}

.select-wrapper{
	position: relative;
	&:after{
		content: '';
		opacity: 0.5;
		display: block;
		width: 0;
		height: 0;
		border-top: 0.7rem solid $color-gray-600;
		border-left: 0.7rem solid transparent;
		border-right: 0.7rem solid transparent;
		position: absolute;
		top: 50%;
		right: $global-padding-sm;
		pointer-events: none;
		transform: translateY(-50%);
	}
}