.fei-img-rounded {
	border-radius: $global-rounded;
}

.fei-img-shadow{
	border-radius: $global-radius-lg;
	box-shadow: $global-box-shadow;
	margin: $global-margin 0;

	&.fei-img-rounded {
		border-radius: $global-rounded;
	}
}