.is-listing {
    margin: 2rem 0 2rem 2rem;

    li {
        list-style: none;
        text-indent: -1.2rem;

        &:before {
            content: '\02022';
            color: $color-primary;
            font-weight: bold;
            margin-right: 0.7rem;
        }

        ul {
            margin-left: $global-margin;
        }

    }

    &.is-listing--block {
        li {
            position: relative;
            margin-bottom: $global-margin-lg;
            text-indent: initial;

            &:before {
                display: none;
            }
        }   
    }

    &.is-listing--inline {
        margin-left: -1rem;
        li {
            display: inline-block;

            &:before {
                margin: 0.5rem 2rem;
            }
        }
    }
}