.fei-navigation--main{
	@extend %fei-navigation;
	color: $color-white;

	a{
		text-decoration: none;
	}
}

.fei-navigation__internal{
	color: rgba($color-white, .5);
	background: $color-black;
	text-align: center;
	white-space: nowrap;
	overflow-y: auto;
	@media screen and (min-width: $lg-size){
		text-align: right;
	}
	ul{
		display: inline-block;
	}
	a{
		padding: 1rem 1.2rem;
		&:hover{
			color: $color-black;
			background: $color-white;
		}
		&.is-facebook:hover{
			color: $color-white;
			background-color: $facebook;
		}
		&.is-twitter:hover{
			color: $color-white;
			background-color: $twitter;
		}
		&.is-youtube:hover{
			color: $color-white;
			background-color: $youtube;
		}
		&.is-instagram:hover{
			color: $color-white;
			background-color: $instagram;
		}
		&.is-linkedin:hover{
			color: $color-white;
			background-color: $linkedin;
		}
		&.is-flickr:hover{
			color: $color-white;
			background-color: $flickr;
		}
	}
}

.fei-navigation__header{
	position: relative;
	box-shadow: 0 0.5rem 0 rgba($color-black, .2);

	.fei-navigation__logo, .fei-navigation__buttons{
		width: 100%;
		@media screen and (min-width: $md-size){
			display: inline-block;
			width: 50%;
			margin: 0 0 0 -0.5rem;
			vertical-align: middle;
		}
	}

	.fei-hnav-aside{
		width: 100%;
		@media screen and (min-width: $md-size){
			display: inline-block;
			width: 50%;
			margin: 0 0 0 -0.5rem;
			vertical-align: middle;

			.fei-navigation__buttons{
				display: block !important;
				width: auto !important;
				margin: 0 !important;
			}
		}
	}

	.fei-navigation__logo{
		margin: $global-margin 0;
		a{
			display: inline-block;
			vertical-align: bottom;
		}
		img{
			width: auto;
			height: 8rem;
			&.jesuitas{
				height: 6rem;
				margin-left: $global-margin;
			}
		}
	}

	.fei-navigation__buttons{
		@media screen and (min-width: $md-size){
			text-align: right;
		}
		.button{
			min-width: 4rem;
			margin-right: 0.8rem;
		}
	}
}

.fei-collapse-button{
	display: block;
	text-align: center;
	width: 100%;
	background: transparent;
	border: 0;
	padding: $button-padding;
	line-height: $global-line-height;
	color: $color-white;

	@media screen and (min-width: $md-size){
		text-align: right;
	}

	@media screen and (min-width: $lg-size){
		display: none;
	}
	&:after{
		content: 'menu';
		display: inline-block;
		margin-right: $global-margin;
	}
}

.fei-navigation__icon, .fei-nav-icon {
	display: inline-block;
	vertical-align: middle;
	.bar, span {
		display: block;
		background: $color-white;
		width: 2rem;
		height: 0.2rem;
		margin: 0.5rem 0.2rem;
		transition: all .3s ease-in-out;
	}
	&.fei-navigation__icon--close, &.fei-nav-close {
		& .bar:first-child, & span:first-child{
			transform: translateY(0.7rem) rotate(45deg);
		}
		& .bar:nth-child(even), & span:nth-child(even){
			opacity: 0;
		}
		& .bar:last-child, & span:last-child{
			transform: translateY(-0.7rem) rotate(-45deg);
		}
	}
}

.fei-body-navigation, .fei-navigation__body{
	background-color: $color-primary;
	transition: all .3s ease-in-out;
}
.fei-bnav-body, .fei-navigation__collapse{
	display: none;
	color: $color-black;
	background-color: $color-white;
	
	&.is-hidden{
		display: none;
	}

	@media screen and (max-width: $md-size - 0.2) {
		li {
			display: block;
			margin: 0;
		}
	}
	
	a{
		text-transform: uppercase;
		padding: $nav-padding;
	}
	@media screen and (min-width: $lg-size){
		color: $color-white;
		display: block !important;
		background-color: transparent;

		li{
			position: relative;
			
			&:after{
				content: '\\';
				display: block;
				color: rgba($color-white, .4);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
			&:last-child:after{
				display: none;
			}
		}
		a{
			padding: $nav-padding-lg;
		}

		& .fei-navigation-dropdown {
			li:after {
				display: none;
			}
		}
	}
}

.fei-navigation-dropdown{
	display: none;
	color: $color-gray-800;
	background: $color-white;

	li{
		display: block;
		margin: 0;

		a {
			text-transform: initial;
		}
	}

	@media screen and (max-width: $md-size - 0.02) {
		#{&} {
			display: block;
			margin-left: $global-margin;
		}
	}

	@media screen and (min-width: $md-size){
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		padding: 0.5rem;
		z-index: map-get($z-index, 'dropdown');
		border-radius: $global-radius-sm;
		box-shadow: $global-box-shadow;

		&:before{
			content: '';
			display: block;
			position: absolute;
			top: -1rem;
			left: 2rem;
			width: 0;
			height: 0;
			border-left: 1rem solid transparent;
			border-right: 1rem solid transparent;
			border-bottom: 1rem solid $color-white;
		}

		li{
			a{
				margin: 0;
				padding: 1.2rem 1.4rem;
				white-space: nowrap;
				border-radius: $global-radius-sm;
			}

			&:hover, &.hover, &.is-hovered{

				> a{
					opacity: 1;
					color: $color-white;
					background-color: $color-primary;
					box-shadow: $global-box-shadow;
				}
			}
		}

		.fei-navigation-dropdown{
			display: none;
			min-width: auto;
			top: -1rem;
			left: 99%;

			&.l-align-right, &[align="right"]{
				left: auto;
				right: 99%;
			}
			&:before{
				display: none;
			}
		}
	}
}

.fei-navigation__quick{
	display: none;
	max-width: 40rem;
	width: 100%;
	padding: 4rem 0;
	font-size: $global-font-size-lg;
	line-height: $global-line-height;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background: $color-gray-800;
	z-index: map-get($z-index, 'modal');
	overflow-y: auto;
	box-shadow: -1.6rem 0 4rem rgba($color-black, 0.5);
	transform: translateX(0);
	transition: transform .15s ease;

	&.is-active{
		display: block;
		animation: slideRight .15s ease;
	}
	&.is-hiding{
		display: block;
		transform: translateX(100%);
	}

	li{
		display: block;
	}
	a{
		display: block;
		color: $color-white;
		padding: $nav-padding-lg;
		margin: 0 $global-margin;
		border-radius: $global-radius-sm;
	}
	@media screen and (min-width: $lg-size){
		a:hover{
			color: $color-white;
			background: $color-primary;
			opacity: 1;
			box-shadow: 0 0.5rem 2rem rgba($color-black, 0.3);
		}
	}

	.button--close{
		color: $color-white;
		font-size: $global-font-size * 2;
	}
}

.off-canvas{
	display: none;
	@media screen and (min-width: 768px){
		&.is-active{
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color-black, .5);
			z-index: map-get($z-index, 'modal-aux');
		}
	}
}

