.fei-modal{
    display: none;
    color: #fff;
    padding: 4em 0;
    background-color: rgba($color-black, .9);
    background-image: linear-gradient(to bottom, rgba($color-black, .7), transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: map-get($z-index, 'modal');
    opacity: 0;
    transition: opacity .2s ease-out;

    &.is-active{
        display: block;
        opacity: 1;
        animation: fadeScaleIn .4s ease;
    }

    &.is-hiding{
        display: block;
        opacity: 0;
    }

    a{
        text-decoration-color: $color-secondary;
    }

    .button--close{
        color: $color-white;
        font-size: $global-font-size * 2;
    }
}