.fei-sharelinks{
  transition: all .3s ease;
  z-index: map-get($z-index, 'share');

  li{
    margin: 0;
  }
}

.fei-sharelinks__button, .fei-sharelinks__body{
  a{
    font-size: 2rem;
    width: 4rem;
    min-height: 4rem;
    line-height: 4rem;
    color: rgba($color-white, .8);
    border: none;
    text-align: center;
    transition: all .3s ease;
  }
}

.fei-sharelinks__button > a{
  display: block;
  background-color: $color-project;
}
.fei-sharelinks__body{
  overflow-x: auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.fei-sharelinks__body ul li a{
  display: block;
  background-color: #222;
  color: #eee;
}
.facebook-share{
  background-color: #4267b2 !important;
}
.twitter-share{
  background-color: #1da1f2 !important;
}
.whatsapp-share{
  background-color: $color-secondary-light !important;
}
.gplus-share{
  background-color: #db4437 !important;
}
.linkedin-share{
  background-color: #0077B5 !important;
}
.clipboard{
  background-color: #d82010 !important;
}
@media screen and (max-width: 767px){
  .fei-sharelinks{
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .fei-sharelinks{
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .fei-sharelinks.is-active{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .fei-sharelinks__button > a{
    position: absolute;
    top: -5.5rem;
    right: 1rem;
  }
  .fei-sharelinks__body{
    background-color: #fff;
    text-align: center;
  }
  .fei-sharelinks__body ul li a{
    margin: 1rem 0.5rem;
  }
  .fei-sharelinks__body ul{
    white-space: nowrap;
  }
  .fei-sharelinks__body ul li{
    display: inline-block;
  }
}
@media screen and (min-width: 768px){
  .fei-sharelinks{
    position: fixed;
    top: 18.5rem;
    left: 0;
    height: 0;
  }
  .fei-sharelinks .fei-sharelinks__body{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .fei-sharelinks.is-active .fei-sharelinks__body{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
/*.fei-sharelinks.is-active .fei-sharelinks__button > a{
transform: rotate(180deg);
}*/
.fei-sharelinks__button > a{
  position: absolute;
  top: -4.5rem;
  left: 0;
}
.fei-sharelinks__body ul li a{
  margin: 0;
}
.fei-sharelinks__button > a:hover, .fei-sharelinks__body ul li a:hover{
  width: 6rem;
}
}