.fei-tabs{
    @extend %fei-navigation;
    width: 100%;
    margin: 2rem 0 2rem 0;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: $global-radius-sm;
    padding: 0;
    z-index: map-get($z-index, 'large');

    a{
        color: $color-black;
        opacity: .6;
        padding: $nav-padding;
        transition: all .15s ease-in-out;
        white-space: normal;
    }

    li{
        margin: 0.7rem;
        border: 0;
        line-height: 1.2;

        &.is-active, &:hover, &:focus{

            a{
                opacity: 1;
                color: $color-white;
                background: $color-primary;
                border-radius: $global-radius-sm;
                box-shadow: $global-box-shadow;

                .fei-projects & {
                    background-color: $color-project;
                }
    
                .fei-news & {
                    background-color: $color-news;
                }
            }
        }
    }

    @media screen and (min-width: $md-size){
        width: 100%;
        overflow-x: visible;
    }

    &.fei-tabs--side{
        background: $color-white;

        @media screen and (min-width: $lg-size){
            border: 0.1rem solid darken($color-white, 5%);
            margin: 0;
            overflow: visible;

            li{
                display: block;
            }

            a {
                padding: $nav-padding-lg;
            }
        }
    }

    @media screen and (max-width: $md-size - 1){
        .fei-tabs-scroll{
            display: none;
        }
    }
}

.fei-painel-container{
    display: none;

    &.is-active{
        display: block;
        animation: fade .5s;
    }
}
