.tag{
	display: inline-block;
	padding: 0.5rem;
	font-size: 1em;
	line-height: 1;
	background: $color-gray-600;
	color: $color-white;
	border-radius: 0.4rem;
	z-index: map-get($z-index, 'medium');
	transition: all .3s ease-in-out;

	&.tag--primary{
		background-color: $color-primary;
	}
	&.tag--secondary{
		background-color: $color-secondary;
	}
	&.tag--project{
		background-color: $color-project;
	}
	&.tag--news{
		background-color: $color-news;
	}

}