.affix{
	position: relative;
}
@media screen and (max-width: $lg-size - 1){
	[data-tab="affix"]{
		width: 100% !important;
	}
}
@media screen and (min-width: $lg-size){
	.affix-top{
		position: relative;
	}
	.affix{
		position: fixed;
		top: 0;
		margin-top: $global-margin;
	}
	.affix-bottom{
		position: relative;
		top: auto;
		bottom: 0;
	}
}