.l-block{
	width: 100%;
	display: block !important;
}
.l-inline-block{
	display: inline-block !important;
}

.l-float-left{
	float: left;
}
.l-float-right{
	float: right;
}

[class*="pull"]{
	padding: 0 .5em;
}

@media screen and (max-width: 768px){
	.pull-right, .pull-left, .l-float-right, .l-float-left{
		float: inherit !important;
	}
	.pull-right, .pull-left{
		margin: $global-margin 0;
	}

}

@media screen and (min-width: 992px){
	.pull-right{
		margin: 0 0 $global-margin $global-margin;
	}
	.pull-left{
		margin: 0 $global-margin $global-margin 0;
	}
}