%fei-navigation{
	font-size: $global-font-size-sm;
	font-weight: lighter;
	z-index: map-get($z-index, 'menu');
	li{
		display: inline-block;
		margin: 0 -0.4rem;
		line-height: 1.2;
		vertical-align: middle;
		list-style: none;

		&:hover, &.hover{
			> a + .fei-navigation-dropdown{
				display: block;
				animation: fade .3s;
			}
		}
	}
	a{
		display: block;
		&, &:hover{
			text-decoration: none;
		}
	}
}