.fei-section{
	position: relative;
	padding: $global-section-padding 0;
	color: $color-black;
	font-weight: lighter;

	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		display: block;
		background: $color-gray-200;
		height: 0.1rem;
		width: 50%;
		margin: 0 25%;
	}
}