@media screen and (max-width: $md-size - 1){
	.l-text-responsive{
	    position: absolute;
	    top: 0;
	    left: -9999px;
	    width: 0;
	}
}

@media screen and (min-width: $lg-size){
	.break, .l-responsive-break{
		display: block;
	}
}

.d1{
	@extend %title;
	font-size: $d1-font-size;
}
.d2{
	@extend %title;
	font-size: $d2-font-size;
}
.d3{
	@extend %title;
	font-size: $d3-font-size;
}

.fei-section-title{
	@extend %title;
	position: relative;
	text-transform: uppercase;
	font-size: $d2-font-size;

	@media screen and (min-width: $lg-size){
		font-size: $d1-font-size;

		&.is-smaller{
			font-size: $d3-font-size;
		}
	}

	&:before{
		content: attr(data-background);
		display: none;
		font-size: 2em;
		font-weight: lighter;
		position: absolute;
		top: 50%;
		left: 0;
		opacity: .05;
		white-space: nowrap;
		transform: translateY(-50%);
		@media screen and (min-width: $lg-size){
			display: block;
		}
	}

	&:first-of-type{
		margin-top: 0;
	}

	&.fei-section-title--bordered {

		&:after {
			content: '';
			background: $color-secondary;
			display: block;
			position: absolute;
			bottom: -0.2em;
			width: 5rem;
			height: 0.5rem;
			left: 0.1rem;
		}
	}

	.fei-slideshow__caption &, .fei-modal &, .fei-footer & {
		color: $color-white;
	}
}